{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/build",
          "/admin"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "genietenvanmeditatie.nl/web/",
      "timeout": 10000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "agenda.html",
          "mtimeMs": 1592766450924.6775,
          "ctimeMs": 1592766450924.6775,
          "date": "2020-06-21T19:08:11.727Z"
        },
        {
          "file": "begeleiding.html",
          "mtimeMs": 1592760351614.1787,
          "ctimeMs": 1592760351614.1787,
          "date": "2020-06-21T17:40:11.946Z"
        },
        {
          "file": "ben_jij_dit.html",
          "mtimeMs": 1592681808897.3628,
          "ctimeMs": 1592681808897.3628,
          "date": "2020-06-20T21:09:50.253Z"
        },
        {
          "file": "consult.html",
          "mtimeMs": 1592760350792.8186,
          "ctimeMs": 1592760350792.8186,
          "date": "2020-06-21T17:40:12.307Z"
        },
        {
          "file": "contact.html",
          "mtimeMs": 1592759001976.2805,
          "ctimeMs": 1592759001976.2805,
          "date": "2020-06-21T17:40:12.494Z"
        },
        {
          "file": "depressie.html",
          "mtimeMs": 1592760350001.4365,
          "ctimeMs": 1592760350001.4365,
          "date": "2020-06-21T17:40:12.849Z"
        },
        {
          "file": "dynamische_meditatie.html",
          "mtimeMs": 1592759268880.3042,
          "ctimeMs": 1592759268880.3042,
          "date": "2020-06-21T17:40:13.048Z"
        },
        {
          "file": "eetproblemen.html",
          "mtimeMs": 1592760349334.9565,
          "ctimeMs": 1592760349334.9565,
          "date": "2020-06-21T17:40:13.265Z"
        },
        {
          "file": "geschenk.html",
          "mtimeMs": 1592761327360.8596,
          "ctimeMs": 1592761327360.8596,
          "date": "2020-06-21T17:42:17.780Z"
        },
        {
          "file": "gezichtsmassage.html",
          "mtimeMs": 1592681808914.3496,
          "ctimeMs": 1592681808914.3496,
          "date": "2020-06-20T21:09:51.528Z"
        },
        {
          "file": "hoe_werkt_het.html",
          "mtimeMs": 1592759122712.2007,
          "ctimeMs": 1592759122712.2007,
          "date": "2020-06-21T17:40:13.744Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1592811219767.068,
          "ctimeMs": 1592811219767.068,
          "date": "2020-06-22T07:33:46.235Z"
        },
        {
          "file": "inspiratie.html",
          "mtimeMs": 1592681808989.2917,
          "ctimeMs": 1592681808989.2917,
          "date": "2020-06-20T21:09:51.903Z"
        },
        {
          "file": "meditatie.html",
          "mtimeMs": 1592681808990.291,
          "ctimeMs": 1592681808990.291,
          "date": "2020-06-20T21:09:52.014Z"
        },
        {
          "file": "meditatie_cursus.html",
          "mtimeMs": 1592759301522.8682,
          "ctimeMs": 1592759301522.8682,
          "date": "2020-06-21T17:40:14.053Z"
        },
        {
          "file": "mystic_rose.html",
          "mtimeMs": 1592760236340.004,
          "ctimeMs": 1592760236340.004,
          "date": "2020-06-21T17:40:14.260Z"
        },
        {
          "file": "ontspanning.html",
          "mtimeMs": 1592681808991.2903,
          "ctimeMs": 1592681808991.2903,
          "date": "2020-06-20T21:09:52.414Z"
        },
        {
          "file": "over_mij.html",
          "mtimeMs": 1592760348685.4614,
          "ctimeMs": 1592760348685.4614,
          "date": "2020-06-21T17:40:14.422Z"
        },
        {
          "file": "wat_ik_aanbied.html",
          "mtimeMs": 1592761007442.1465,
          "ctimeMs": 1592761007442.1465,
          "date": "2020-06-21T17:40:14.590Z"
        },
        {
          "file": "zelfhypnose.html",
          "mtimeMs": 1592760347969.02,
          "ctimeMs": 1592760347969.02,
          "date": "2020-06-21T17:40:14.765Z"
        },
        {
          "file": "blog/blog2.html",
          "mtimeMs": 1592681808898.362,
          "ctimeMs": 1592681808898.362,
          "date": "2020-06-20T21:09:52.913Z"
        },
        {
          "file": "blog/blog3.html",
          "mtimeMs": 1592681808898.362,
          "ctimeMs": 1592681808898.362,
          "date": "2020-06-20T21:09:53.035Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1592766342294.3223,
          "ctimeMs": 1592766342294.3223,
          "date": "2020-06-21T19:08:11.915Z"
        },
        {
          "file": "img/3.balans.png",
          "mtimeMs": 1592681808916.3484,
          "ctimeMs": 1592681808916.3484,
          "date": "2020-06-20T21:09:57.616Z"
        },
        {
          "file": "img/3.liefde.png",
          "mtimeMs": 1592681808917.348,
          "ctimeMs": 1592681808917.348,
          "date": "2020-06-20T21:09:57.954Z"
        },
        {
          "file": "img/3.meditatie.png",
          "mtimeMs": 1592681808918.3467,
          "ctimeMs": 1592681808918.3467,
          "date": "2020-06-20T21:09:58.186Z"
        },
        {
          "file": "img/3.oefening.png",
          "mtimeMs": 1592681808919.3462,
          "ctimeMs": 1592681808919.3462,
          "date": "2020-06-20T21:09:58.461Z"
        },
        {
          "file": "img/3.openheid.png",
          "mtimeMs": 1592681808921.3442,
          "ctimeMs": 1592681808921.3442,
          "date": "2020-06-20T21:09:58.723Z"
        },
        {
          "file": "img/3.verheldering.png",
          "mtimeMs": 1592681808922.3435,
          "ctimeMs": 1592681808922.3435,
          "date": "2020-06-20T21:09:58.901Z"
        },
        {
          "file": "img/banner.jpg",
          "mtimeMs": 1592681808926.3408,
          "ctimeMs": 1592681808926.3408,
          "date": "2020-06-20T21:10:00.139Z"
        },
        {
          "file": "img/begeleiding.jpg",
          "mtimeMs": 1592681808931.3364,
          "ctimeMs": 1592681808931.3364,
          "date": "2020-06-20T21:10:00.575Z"
        },
        {
          "file": "img/ben_jij_dit.png",
          "mtimeMs": 1592681808935.3333,
          "ctimeMs": 1592681808935.3333,
          "date": "2020-06-20T21:10:01.188Z"
        },
        {
          "file": "img/boek.png",
          "mtimeMs": 1592681808942.3281,
          "ctimeMs": 1592681808942.3281,
          "date": "2020-06-20T21:10:01.439Z"
        },
        {
          "file": "img/consult.jfif",
          "mtimeMs": 1592681808943.3276,
          "ctimeMs": 1592681808943.3276,
          "date": "2020-06-20T21:10:01.613Z"
        },
        {
          "file": "img/consult2.png",
          "mtimeMs": 1592681808946.325,
          "ctimeMs": 1592681808946.325,
          "date": "2020-06-20T21:10:01.863Z"
        },
        {
          "file": "img/contact.png",
          "mtimeMs": 1592681808949.3228,
          "ctimeMs": 1592681808949.3228,
          "date": "2020-06-20T21:10:02.290Z"
        },
        {
          "file": "img/cursus.jpg",
          "mtimeMs": 1592681808950.322,
          "ctimeMs": 1592681808950.322,
          "date": "2020-06-20T21:10:02.434Z"
        },
        {
          "file": "img/depressie.jfif",
          "mtimeMs": 1592681808951.3213,
          "ctimeMs": 1592681808951.3213,
          "date": "2020-06-20T21:10:02.620Z"
        },
        {
          "file": "img/dynamisch.jpg",
          "mtimeMs": 1592681808952.3203,
          "ctimeMs": 1592681808952.3203,
          "date": "2020-06-20T21:10:02.746Z"
        },
        {
          "file": "img/eetprobleem.jfif",
          "mtimeMs": 1592681808952.3203,
          "ctimeMs": 1592681808952.3203,
          "date": "2020-06-20T21:10:02.930Z"
        },
        {
          "file": "img/geschenk.png",
          "mtimeMs": 1592681808959.315,
          "ctimeMs": 1592681808959.315,
          "date": "2020-06-20T21:10:03.544Z"
        },
        {
          "file": "img/gezichtsmassage.jfif",
          "mtimeMs": 1592681808959.315,
          "ctimeMs": 1592681808959.315,
          "date": "2020-06-20T21:10:03.721Z"
        },
        {
          "file": "img/header.jpg",
          "mtimeMs": 1592681808962.313,
          "ctimeMs": 1592681808962.313,
          "date": "2020-06-20T21:10:03.961Z"
        },
        {
          "file": "img/hoe_het_werkt.jpg",
          "mtimeMs": 1592681808965.3103,
          "ctimeMs": 1592681808965.3103,
          "date": "2020-06-20T21:10:04.626Z"
        },
        {
          "file": "img/map.png",
          "mtimeMs": 1592681808967.3086,
          "ctimeMs": 1592681808967.3086,
          "date": "2020-06-20T21:10:04.956Z"
        },
        {
          "file": "img/meditatie.jpg",
          "mtimeMs": 1592681808969.307,
          "ctimeMs": 1592681808969.307,
          "date": "2020-06-20T21:10:05.262Z"
        },
        {
          "file": "img/ontspanning.jpg",
          "mtimeMs": 1592681808973.304,
          "ctimeMs": 1592681808973.304,
          "date": "2020-06-20T21:10:05.878Z"
        },
        {
          "file": "img/rose.jfif",
          "mtimeMs": 1592681808981.298,
          "ctimeMs": 1592681808981.298,
          "date": "2020-06-20T21:10:06.627Z"
        },
        {
          "file": "img/zelfhypnose.jfif",
          "mtimeMs": 1592681808989.2917,
          "ctimeMs": 1592681808989.2917,
          "date": "2020-06-20T21:10:07.233Z"
        },
        {
          "file": "js/packery.js",
          "mtimeMs": 1592681808989.2917,
          "ctimeMs": 1592681808989.2917,
          "date": "2020-06-20T21:10:08.217Z"
        },
        {
          "file": "js/script.js",
          "mtimeMs": 1592681808990.291,
          "ctimeMs": 1592681808990.291,
          "date": "2020-06-20T21:10:08.322Z"
        },
        {
          "file": "avg.html",
          "mtimeMs": 1592681808897.3628,
          "ctimeMs": 1592681808897.3628,
          "date": "2020-06-20T21:09:49.987Z"
        },
        {
          "file": "blog_begeleiding.html",
          "mtimeMs": 1592681808899.3616,
          "ctimeMs": 1592681808899.3616,
          "date": "2020-06-20T21:09:50.361Z"
        },
        {
          "file": "blog_meditatie.html",
          "mtimeMs": 1592681808899.3616,
          "ctimeMs": 1592681808899.3616,
          "date": "2020-06-20T21:09:50.462Z"
        },
        {
          "file": "covid.html",
          "mtimeMs": 1592759110677.5784,
          "ctimeMs": 1592759110677.5784,
          "date": "2020-06-21T17:40:12.685Z"
        },
        {
          "file": "familie_opstellingen.html",
          "mtimeMs": 1592759677437.4658,
          "ctimeMs": 1592759677437.4658,
          "date": "2020-06-21T17:40:13.413Z"
        },
        {
          "file": "blog/blog5.html",
          "mtimeMs": 1592681808898.362,
          "ctimeMs": 1592681808898.362,
          "date": "2020-06-20T21:09:53.158Z"
        },
        {
          "file": "blog/blog6.html",
          "mtimeMs": 1592681808899.3616,
          "ctimeMs": 1592681808899.3616,
          "date": "2020-06-20T21:09:53.282Z"
        },
        {
          "file": "en/avg.html",
          "mtimeMs": 1592744420497.912,
          "ctimeMs": 1592744420497.912,
          "date": "2020-06-21T17:40:15.450Z"
        },
        {
          "file": "en/consult.html",
          "mtimeMs": 1592760161069.6035,
          "ctimeMs": 1592760161069.6035,
          "date": "2020-06-21T17:40:17.314Z"
        },
        {
          "file": "en/contact.html",
          "mtimeMs": 1592759648574.9502,
          "ctimeMs": 1592759648574.9502,
          "date": "2020-06-21T17:40:17.490Z"
        },
        {
          "file": "en/covid.html",
          "mtimeMs": 1592760140113.9333,
          "ctimeMs": 1592760140113.9333,
          "date": "2020-06-21T17:40:17.632Z"
        },
        {
          "file": "en/index.html",
          "mtimeMs": 1592803285718.161,
          "ctimeMs": 1592803285718.161,
          "date": "2020-06-22T05:21:48.049Z"
        },
        {
          "file": "img/annet.png",
          "mtimeMs": 1592681808924.3423,
          "ctimeMs": 1592681808924.3423,
          "date": "2020-06-20T21:09:59.169Z"
        },
        {
          "file": "img/anon.png",
          "mtimeMs": 1592681808925.3413,
          "ctimeMs": 1592681808925.3413,
          "date": "2020-06-20T21:09:59.315Z"
        },
        {
          "file": "img/anon2.png",
          "mtimeMs": 1592681808925.3413,
          "ctimeMs": 1592681808925.3413,
          "date": "2020-06-20T21:09:59.529Z"
        },
        {
          "file": "img/ashirda.png",
          "mtimeMs": 1592681808926.3408,
          "ctimeMs": 1592681808926.3408,
          "date": "2020-06-20T21:09:59.840Z"
        },
        {
          "file": "img/belgie.png",
          "mtimeMs": 1592681808932.3362,
          "ctimeMs": 1592681808932.3362,
          "date": "2020-06-20T21:10:00.852Z"
        },
        {
          "file": "img/consult3.png",
          "mtimeMs": 1592681808948.3235,
          "ctimeMs": 1592681808948.3235,
          "date": "2020-06-20T21:10:02.096Z"
        },
        {
          "file": "img/eten2.png",
          "mtimeMs": 1592681808953.3198,
          "ctimeMs": 1592681808953.3198,
          "date": "2020-06-20T21:10:03.128Z"
        },
        {
          "file": "img/header_lente.jpg",
          "mtimeMs": 1592681808964.3108,
          "ctimeMs": 1592681808964.3108,
          "date": "2020-06-20T21:10:04.158Z"
        },
        {
          "file": "img/hettie.jpg",
          "mtimeMs": 1592681808964.3108,
          "ctimeMs": 1592681808964.3108,
          "date": "2020-06-20T21:10:04.323Z"
        },
        {
          "file": "img/hettie.png",
          "mtimeMs": 1592681808965.3103,
          "ctimeMs": 1592681808965.3103,
          "date": "2020-06-20T21:10:04.475Z"
        },
        {
          "file": "img/index.php",
          "mtimeMs": 1592681808966.3098,
          "ctimeMs": 1592681808966.3098,
          "date": "2020-06-20T21:10:04.754Z"
        },
        {
          "file": "img/mart.png",
          "mtimeMs": 1592681808968.308,
          "ctimeMs": 1592681808968.308,
          "date": "2020-06-20T21:10:05.115Z"
        },
        {
          "file": "img/modita.png",
          "mtimeMs": 1592681808971.3054,
          "ctimeMs": 1592681808971.3054,
          "date": "2020-06-20T21:10:05.503Z"
        },
        {
          "file": "img/modita_2.png",
          "mtimeMs": 1592681808973.304,
          "ctimeMs": 1592681808973.304,
          "date": "2020-06-20T21:10:05.717Z"
        },
        {
          "file": "img/opstellingen.jpg",
          "mtimeMs": 1592681808974.3032,
          "ctimeMs": 1592681808974.3032,
          "date": "2020-06-20T21:10:06.074Z"
        },
        {
          "file": "img/opstellingen2.jpg",
          "mtimeMs": 1592681808974.3032,
          "ctimeMs": 1592681808974.3032,
          "date": "2020-06-20T21:10:06.206Z"
        },
        {
          "file": "img/ria.png",
          "mtimeMs": 1592681808975.3022,
          "ctimeMs": 1592681808975.3022,
          "date": "2020-06-20T21:10:06.367Z"
        },
        {
          "file": "img/thumbnail.jpg",
          "mtimeMs": 1592681808983.2966,
          "ctimeMs": 1592681808983.2966,
          "date": "2020-06-20T21:10:06.815Z"
        },
        {
          "file": "img/willy.png",
          "mtimeMs": 1592681808988.2922,
          "ctimeMs": 1592681808988.2922,
          "date": "2020-06-20T21:10:07.085Z"
        },
        {
          "file": "img/blog/blog1.jpg",
          "mtimeMs": 1592681808936.333,
          "ctimeMs": 1592681808936.333,
          "date": "2020-06-20T21:10:07.393Z"
        },
        {
          "file": "img/blog/blog2.jpg",
          "mtimeMs": 1592681808937.3323,
          "ctimeMs": 1592681808937.3323,
          "date": "2020-06-20T21:10:07.545Z"
        },
        {
          "file": "img/blog/blog3.jpg",
          "mtimeMs": 1592681808937.3323,
          "ctimeMs": 1592681808937.3323,
          "date": "2020-06-20T21:10:07.683Z"
        },
        {
          "file": "img/blog/blog4.jpg",
          "mtimeMs": 1592681808938.3313,
          "ctimeMs": 1592681808938.3313,
          "date": "2020-06-20T21:10:07.830Z"
        },
        {
          "file": "img/blog/blog5.jpg",
          "mtimeMs": 1592681808938.3313,
          "ctimeMs": 1592681808938.3313,
          "date": "2020-06-20T21:10:07.964Z"
        },
        {
          "file": "img/blog/blog6.jpg",
          "mtimeMs": 1592681808939.3306,
          "ctimeMs": 1592681808939.3306,
          "date": "2020-06-20T21:10:08.109Z"
        },
        {
          "file": "php/contact.php",
          "mtimeMs": 1592761703789.5403,
          "ctimeMs": 1592761703789.5403,
          "date": "2020-06-21T19:08:12.287Z"
        },
        {
          "file": "php/contact_en.php",
          "mtimeMs": 1592761658426.92,
          "ctimeMs": 1592761658426.92,
          "date": "2020-06-21T19:08:12.446Z"
        },
        {
          "file": "en/about_me.html",
          "mtimeMs": 1592759849596.3115,
          "ctimeMs": 1592759849596.3115,
          "date": "2020-06-21T17:40:15.077Z"
        },
        {
          "file": "en/beyond_depression.html",
          "mtimeMs": 1592759894647.207,
          "ctimeMs": 1592759894647.207,
          "date": "2020-06-21T17:40:15.990Z"
        },
        {
          "file": "en/blog_family_constellations.html",
          "mtimeMs": 1592747701760.6123,
          "ctimeMs": 1592747701760.6123,
          "date": "2020-06-21T17:40:16.330Z"
        },
        {
          "file": "en/blog_meditation.html",
          "mtimeMs": 1592744482497.6023,
          "ctimeMs": 1592744482497.6023,
          "date": "2020-06-21T17:40:16.694Z"
        },
        {
          "file": "en/calendar.html",
          "mtimeMs": 1592766471984.2664,
          "ctimeMs": 1592766471984.2664,
          "date": "2020-06-21T19:08:12.126Z"
        },
        {
          "file": "en/deep_relaxation.html",
          "mtimeMs": 1592745147064.7644,
          "ctimeMs": 1592745147064.7644,
          "date": "2020-06-21T17:40:18.089Z"
        },
        {
          "file": "en/eating_problems.html",
          "mtimeMs": 1592759966254.4087,
          "ctimeMs": 1592759966254.4087,
          "date": "2020-06-21T17:40:18.659Z"
        },
        {
          "file": "en/family_constellations.html",
          "mtimeMs": 1592759674345.8704,
          "ctimeMs": 1592759674345.8704,
          "date": "2020-06-21T17:40:19.168Z"
        },
        {
          "file": "en/gift.html",
          "mtimeMs": 1592760987367.7886,
          "ctimeMs": 1592760987367.7886,
          "date": "2020-06-21T17:40:19.648Z"
        },
        {
          "file": "en/how_it_works.html",
          "mtimeMs": 1592759996655.719,
          "ctimeMs": 1592759996655.719,
          "date": "2020-06-21T17:40:20.086Z"
        },
        {
          "file": "en/inspiration.html",
          "mtimeMs": 1592745398509.828,
          "ctimeMs": 1592745398509.828,
          "date": "2020-06-21T17:40:20.590Z"
        },
        {
          "file": "en/is_this_you.html",
          "mtimeMs": 1592745643193.1748,
          "ctimeMs": 1592745643193.1748,
          "date": "2020-06-21T17:40:20.764Z"
        },
        {
          "file": "en/japanese_face_massage.html",
          "mtimeMs": 1592747699476.3906,
          "ctimeMs": 1592747699476.3906,
          "date": "2020-06-21T17:40:20.924Z"
        },
        {
          "file": "en/meditation.html",
          "mtimeMs": 1592747698844.882,
          "ctimeMs": 1592747698844.882,
          "date": "2020-06-21T17:40:21.456Z"
        },
        {
          "file": "en/osho_dynamic_meditation.html",
          "mtimeMs": 1592760100486.81,
          "ctimeMs": 1592760100486.81,
          "date": "2020-06-21T17:40:21.970Z"
        },
        {
          "file": "en/osho_meditation_course.html",
          "mtimeMs": 1592760088968.7866,
          "ctimeMs": 1592760088968.7866,
          "date": "2020-06-21T17:40:22.184Z"
        },
        {
          "file": "en/osho_mystic_rose.html",
          "mtimeMs": 1592760082156.0933,
          "ctimeMs": 1592760082156.0933,
          "date": "2020-06-21T17:40:22.345Z"
        },
        {
          "file": "en/personal_guidance.html",
          "mtimeMs": 1592759704259.5586,
          "ctimeMs": 1592759704259.5586,
          "date": "2020-06-21T17:40:22.597Z"
        },
        {
          "file": "en/self_hypnosis.html",
          "mtimeMs": 1592760068304.8867,
          "ctimeMs": 1592760068304.8867,
          "date": "2020-06-21T17:40:22.758Z"
        },
        {
          "file": "en/what_i_offer.html",
          "mtimeMs": 1592760963038.7466,
          "ctimeMs": 1592760963038.7466,
          "date": "2020-06-21T17:40:23.019Z"
        },
        {
          "file": "en/blog/blog_1.html",
          "mtimeMs": 1592744373607.4507,
          "ctimeMs": 1592744373607.4507,
          "date": "2020-06-21T17:40:23.735Z"
        },
        {
          "file": "en/blog/blog_2.html",
          "mtimeMs": 1592744375468.001,
          "ctimeMs": 1592744375468.001,
          "date": "2020-06-21T17:40:23.874Z"
        },
        {
          "file": "en/blog/blog_3.html",
          "mtimeMs": 1592744131809.3337,
          "ctimeMs": 1592744131809.3337,
          "date": "2020-06-21T17:40:24.083Z"
        },
        {
          "file": "en/blog/blog_4.html",
          "mtimeMs": 1592744926565.0002,
          "ctimeMs": 1592744926565.5747,
          "date": "2020-06-21T17:40:24.247Z"
        },
        {
          "file": "php/subscribe.php",
          "mtimeMs": 1592761665383.4658,
          "ctimeMs": 1592761665383.4658,
          "date": "2020-06-21T19:08:12.600Z"
        },
        {
          "file": "php/subscribe_en.php",
          "mtimeMs": 1592761696483.2324,
          "ctimeMs": 1592761696483.2324,
          "date": "2020-06-21T19:08:12.741Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ],
          "relativePath": "../../css"
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "build/styles/app/_elements.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_footer.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_header.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_layout.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_mixins.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_navbar.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_typography.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_variables.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/style.scss",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "customOutput": "css\\style.css"
        }
      }
    ]
  }
}
