{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/build",
          "/admin",
          "/beyonddepression",
          "/enjoyingmeditation",
          "/Prioriteitenlijstje Modita.txt",
          "*.txt",
          "/workspace.code-workspace"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "genietenvanmeditatie.nl/web",
      "timeout": 10000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "agenda.html",
          "mtimeMs": 1617210849471.6428,
          "date": "2021-03-31T18:32:22.222Z"
        },
        {
          "file": "begeleiding.html",
          "mtimeMs": 1613156244097.7876,
          "date": "2021-02-12T19:08:17.812Z"
        },
        {
          "file": "ben_jij_dit.html",
          "mtimeMs": 1613156244097.7876,
          "date": "2021-02-12T19:08:17.926Z"
        },
        {
          "file": "consult.html",
          "mtimeMs": 1613156244105.7888,
          "date": "2021-02-12T19:08:18.416Z"
        },
        {
          "file": "contact.html",
          "mtimeMs": 1615145795576.7566,
          "date": "2021-03-07T19:41:28.732Z"
        },
        {
          "file": "depressie.html",
          "mtimeMs": 1613156244106.7896,
          "date": "2021-02-12T19:08:18.787Z"
        },
        {
          "file": "dynamische_meditatie.html",
          "mtimeMs": 1613156244107.788,
          "date": "2021-02-12T19:08:18.909Z"
        },
        {
          "file": "eetproblemen.html",
          "mtimeMs": 1613156244107.788,
          "date": "2021-02-12T19:08:19.025Z"
        },
        {
          "file": "gezichtsmassage.html",
          "mtimeMs": 1613156244119.7922,
          "date": "2021-02-12T19:08:19.246Z"
        },
        {
          "file": "hoe_werkt_het.html",
          "mtimeMs": 1613156244120.7937,
          "date": "2021-02-12T19:08:19.351Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1617214232384.902,
          "date": "2021-03-31T18:32:20.988Z"
        },
        {
          "file": "inspiratie.html",
          "mtimeMs": 1615145795582.9536,
          "date": "2021-03-07T19:41:30.778Z"
        },
        {
          "file": "meditatie.html",
          "mtimeMs": 1615145795582.9536,
          "date": "2021-03-07T19:41:31.801Z"
        },
        {
          "file": "meditatie_cursus.html",
          "mtimeMs": 1615145795582.9536,
          "date": "2021-03-07T19:41:32.720Z"
        },
        {
          "file": "mystic_rose.html",
          "mtimeMs": 1613156244277.3347,
          "date": "2021-02-12T19:08:20.038Z"
        },
        {
          "file": "ontspanning.html",
          "mtimeMs": 1613156244277.3347,
          "date": "2021-02-12T19:08:20.366Z"
        },
        {
          "file": "over_mij.html",
          "mtimeMs": 1613156244278.3335,
          "date": "2021-02-12T19:08:20.472Z"
        },
        {
          "file": "wat_ik_aanbied.html",
          "mtimeMs": 1615145795583.9556,
          "date": "2021-03-07T19:41:33.742Z"
        },
        {
          "file": "zelfhypnose.html",
          "mtimeMs": 1613156244280.337,
          "date": "2021-02-12T19:08:20.921Z"
        },
        {
          "file": "blog/blog2.html",
          "mtimeMs": 1613156244100.7893,
          "date": "2021-02-12T19:08:21.046Z"
        },
        {
          "file": "blog/blog3.html",
          "mtimeMs": 1613156244100.7893,
          "date": "2021-02-12T19:08:21.163Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1615145796930.4873,
          "date": "2021-03-07T19:41:03.748Z"
        },
        {
          "file": "img/3.balans.png",
          "mtimeMs": 1613156244121.793,
          "date": "2021-02-12T19:08:25.857Z"
        },
        {
          "file": "img/3.liefde.png",
          "mtimeMs": 1613156244122.793,
          "date": "2021-02-12T19:08:26.123Z"
        },
        {
          "file": "img/3.meditatie.png",
          "mtimeMs": 1613156244123.7917,
          "date": "2021-02-12T19:08:26.302Z"
        },
        {
          "file": "img/3.oefening.png",
          "mtimeMs": 1613156244124.7935,
          "date": "2021-02-12T19:08:26.455Z"
        },
        {
          "file": "img/3.openheid.png",
          "mtimeMs": 1613156244126.792,
          "date": "2021-02-12T19:08:26.713Z"
        },
        {
          "file": "img/3.verheldering.png",
          "mtimeMs": 1613156244127.8318,
          "date": "2021-02-12T19:08:26.872Z"
        },
        {
          "file": "img/banner.jpg",
          "mtimeMs": 1613156244131.7954,
          "date": "2021-02-12T19:08:27.739Z"
        },
        {
          "file": "img/begeleiding.jpg",
          "mtimeMs": 1613156244134.7942,
          "date": "2021-02-12T19:08:28.042Z"
        },
        {
          "file": "img/ben_jij_dit.png",
          "mtimeMs": 1613156244137.7961,
          "date": "2021-02-12T19:08:28.592Z"
        },
        {
          "file": "img/boek.png",
          "mtimeMs": 1613156244143.7979,
          "date": "2021-02-12T19:08:28.854Z"
        },
        {
          "file": "img/consult.jfif",
          "mtimeMs": 1613156244156.8005,
          "date": "2021-02-12T19:08:30.811Z"
        },
        {
          "file": "img/consult2.png",
          "mtimeMs": 1613156244159.8015,
          "date": "2021-02-12T19:08:31.110Z"
        },
        {
          "file": "img/contact.png",
          "mtimeMs": 1613156244162.802,
          "date": "2021-02-12T19:08:31.579Z"
        },
        {
          "file": "img/cursus.jpg",
          "mtimeMs": 1613156244162.802,
          "date": "2021-02-12T19:08:31.741Z"
        },
        {
          "file": "img/depressie.jfif",
          "mtimeMs": 1613156244163.802,
          "date": "2021-02-12T19:08:31.975Z"
        },
        {
          "file": "img/dynamisch.jpg",
          "mtimeMs": 1613156244164.8022,
          "date": "2021-02-12T19:08:32.082Z"
        },
        {
          "file": "img/eetprobleem.jfif",
          "mtimeMs": 1613156244165.8025,
          "date": "2021-02-12T19:08:32.198Z"
        },
        {
          "file": "img/geschenk.png",
          "mtimeMs": 1613156244170.802,
          "date": "2021-02-12T19:08:32.873Z"
        },
        {
          "file": "img/gezichtsmassage.jfif",
          "mtimeMs": 1613156244171.8027,
          "date": "2021-02-12T19:08:33.035Z"
        },
        {
          "file": "img/header.jpg",
          "mtimeMs": 1613156244173.803,
          "date": "2021-02-12T19:08:33.321Z"
        },
        {
          "file": "img/hoe_het_werkt.jpg",
          "mtimeMs": 1613156244176.8037,
          "date": "2021-02-12T19:08:33.917Z"
        },
        {
          "file": "img/map.png",
          "mtimeMs": 1613156244181.8047,
          "date": "2021-02-12T19:08:34.730Z"
        },
        {
          "file": "img/meditatie.jpg",
          "mtimeMs": 1613156244182.805,
          "date": "2021-02-12T19:08:35.019Z"
        },
        {
          "file": "img/ontspanning.jpg",
          "mtimeMs": 1613156244223.8145,
          "date": "2021-02-12T19:08:38.836Z"
        },
        {
          "file": "img/rose.jfif",
          "mtimeMs": 1613156244267.3313,
          "date": "2021-02-12T19:08:39.639Z"
        },
        {
          "file": "img/zelfhypnose.jfif",
          "mtimeMs": 1613156244274.3325,
          "date": "2021-02-12T19:08:40.709Z"
        },
        {
          "file": "js/packery.js",
          "mtimeMs": 1613156244275.333,
          "date": "2021-02-12T19:08:46.271Z"
        },
        {
          "file": "js/script.js",
          "mtimeMs": 1613156244276.3347,
          "date": "2021-02-12T19:08:46.379Z"
        },
        {
          "file": "avg.html",
          "mtimeMs": 1613156244096.7874,
          "date": "2021-02-12T19:08:17.692Z"
        },
        {
          "file": "blog_begeleiding.html",
          "mtimeMs": 1613156244101.788,
          "date": "2021-02-12T19:08:18.176Z"
        },
        {
          "file": "blog_meditatie.html",
          "mtimeMs": 1613156244102.787,
          "date": "2021-02-12T19:08:18.293Z"
        },
        {
          "file": "covid.html",
          "mtimeMs": 1615145795576.7566,
          "date": "2021-03-07T19:41:29.663Z"
        },
        {
          "file": "familie_opstellingen.html",
          "mtimeMs": 1614621165410.9785,
          "date": "2021-03-01T17:52:57.024Z"
        },
        {
          "file": "blog/blog5.html",
          "mtimeMs": 1613156244100.7893,
          "date": "2021-02-12T19:08:21.288Z"
        },
        {
          "file": "blog/blog6.html",
          "mtimeMs": 1613156244101.788,
          "date": "2021-02-12T19:08:21.409Z"
        },
        {
          "file": "en/avg.html",
          "mtimeMs": 1613156244108.7896,
          "date": "2021-02-12T19:08:21.902Z"
        },
        {
          "file": "en/consult.html",
          "mtimeMs": 1613156244111.7905,
          "date": "2021-02-12T19:08:22.505Z"
        },
        {
          "file": "en/contact.html",
          "mtimeMs": 1615145795578.9514,
          "date": "2021-03-07T19:40:36.809Z"
        },
        {
          "file": "en/covid.html",
          "mtimeMs": 1615145795579.9517,
          "date": "2021-03-07T19:40:33.759Z"
        },
        {
          "file": "en/index.html",
          "mtimeMs": 1617214242962.6914,
          "date": "2021-03-31T18:32:17.427Z"
        },
        {
          "file": "img/annet.png",
          "mtimeMs": 1613156244128.7947,
          "date": "2021-02-12T19:08:27.061Z"
        },
        {
          "file": "img/anon.png",
          "mtimeMs": 1613156244129.7932,
          "date": "2021-02-12T19:08:27.226Z"
        },
        {
          "file": "img/anon2.png",
          "mtimeMs": 1613156244129.7932,
          "date": "2021-02-12T19:08:27.412Z"
        },
        {
          "file": "img/ashirda.png",
          "mtimeMs": 1613156244130.7932,
          "date": "2021-02-12T19:08:27.567Z"
        },
        {
          "file": "img/belgie.png",
          "mtimeMs": 1613156244135.7964,
          "date": "2021-02-12T19:08:28.253Z"
        },
        {
          "file": "img/consult3.png",
          "mtimeMs": 1613156244161.802,
          "date": "2021-02-12T19:08:31.390Z"
        },
        {
          "file": "img/eten2.png",
          "mtimeMs": 1613156244166.8027,
          "date": "2021-02-12T19:08:32.411Z"
        },
        {
          "file": "img/header_lente.jpg",
          "mtimeMs": 1613156244174.8035,
          "date": "2021-02-12T19:08:33.540Z"
        },
        {
          "file": "img/hettie.jpg",
          "mtimeMs": 1613156244175.8037,
          "date": "2021-02-12T19:08:33.665Z"
        },
        {
          "file": "img/hettie.png",
          "mtimeMs": 1613156244175.8037,
          "date": "2021-02-12T19:08:33.804Z"
        },
        {
          "file": "img/index.php",
          "mtimeMs": 1613156244176.8037,
          "date": "2021-02-12T19:08:34.241Z"
        },
        {
          "file": "img/mart.png",
          "mtimeMs": 1613156244182.805,
          "date": "2021-02-12T19:08:34.887Z"
        },
        {
          "file": "img/modita.png",
          "mtimeMs": 1613156244184.8054,
          "date": "2021-02-12T19:08:35.342Z"
        },
        {
          "file": "img/modita_2.png",
          "mtimeMs": 1613156244185.806,
          "date": "2021-02-12T19:08:35.591Z"
        },
        {
          "file": "img/opstellingen.jpg",
          "mtimeMs": 1613156244223.8145,
          "date": "2021-02-12T19:08:38.982Z"
        },
        {
          "file": "img/opstellingen2.jpg",
          "mtimeMs": 1613156244224.8147,
          "date": "2021-02-12T19:08:39.103Z"
        },
        {
          "file": "img/ria.png",
          "mtimeMs": 1613156244263.3306,
          "date": "2021-02-12T19:08:39.258Z"
        },
        {
          "file": "img/thumbnail.jpg",
          "mtimeMs": 1615234906142,
          "date": "2021-03-08T20:23:53.785Z"
        },
        {
          "file": "img/willy.png",
          "mtimeMs": 1613156244274.3325,
          "date": "2021-02-12T19:08:40.574Z"
        },
        {
          "file": "img/blog/blog1.jpg",
          "mtimeMs": 1613156244138.797,
          "date": "2021-02-12T19:08:40.858Z"
        },
        {
          "file": "img/blog/blog2.jpg",
          "mtimeMs": 1613156244138.797,
          "date": "2021-02-12T19:08:40.993Z"
        },
        {
          "file": "img/blog/blog3.jpg",
          "mtimeMs": 1613156244139.797,
          "date": "2021-02-12T19:08:41.135Z"
        },
        {
          "file": "img/blog/blog4.jpg",
          "mtimeMs": 1613156244140.7969,
          "date": "2021-02-12T19:08:41.299Z"
        },
        {
          "file": "img/blog/blog5.jpg",
          "mtimeMs": 1613156244140.7969,
          "date": "2021-02-12T19:08:41.444Z"
        },
        {
          "file": "img/blog/blog6.jpg",
          "mtimeMs": 1613156244141.796,
          "date": "2021-02-12T19:08:41.589Z"
        },
        {
          "file": "php/contact.php",
          "mtimeMs": 1613156244278.3335,
          "date": "2021-02-12T19:08:46.496Z"
        },
        {
          "file": "php/contact_en.php",
          "mtimeMs": 1613156244278.3335,
          "date": "2021-02-12T19:08:46.609Z"
        },
        {
          "file": "en/about_me.html",
          "mtimeMs": 1613156244108.7896,
          "date": "2021-02-12T19:08:21.788Z"
        },
        {
          "file": "en/beyond_depression.html",
          "mtimeMs": 1613156244108.7896,
          "date": "2021-02-12T19:08:22.026Z"
        },
        {
          "file": "en/blog_family_constellations.html",
          "mtimeMs": 1613156244110.7903,
          "date": "2021-02-12T19:08:22.160Z"
        },
        {
          "file": "en/blog_meditation.html",
          "mtimeMs": 1613156244111.7905,
          "date": "2021-02-12T19:08:22.272Z"
        },
        {
          "file": "en/calendar.html",
          "mtimeMs": 1617210848404.6697,
          "date": "2021-03-31T18:32:15.822Z"
        },
        {
          "file": "en/deep_relaxation.html",
          "mtimeMs": 1613156244112.7908,
          "date": "2021-02-12T19:08:22.936Z"
        },
        {
          "file": "en/eating_problems.html",
          "mtimeMs": 1613156244112.7908,
          "date": "2021-02-12T19:08:23.055Z"
        },
        {
          "file": "en/family_constellations.html",
          "mtimeMs": 1617210911259.6538,
          "date": "2021-03-31T18:32:14.381Z"
        },
        {
          "file": "en/how_it_works.html",
          "mtimeMs": 1613156244113.791,
          "date": "2021-02-12T19:08:23.291Z"
        },
        {
          "file": "en/inspiration.html",
          "mtimeMs": 1615145795580.9517,
          "date": "2021-03-07T19:40:19.448Z"
        },
        {
          "file": "en/is_this_you.html",
          "mtimeMs": 1613156244114.7915,
          "date": "2021-02-12T19:08:23.657Z"
        },
        {
          "file": "en/japanese_face_massage.html",
          "mtimeMs": 1613156244114.7915,
          "date": "2021-02-12T19:08:23.780Z"
        },
        {
          "file": "en/meditation.html",
          "mtimeMs": 1615145795581.9524,
          "date": "2021-03-07T19:40:17.872Z"
        },
        {
          "file": "en/osho_dynamic_meditation.html",
          "mtimeMs": 1613156244115.7915,
          "date": "2021-02-12T19:08:24.131Z"
        },
        {
          "file": "en/osho_meditation_course.html",
          "mtimeMs": 1613156244116.792,
          "date": "2021-02-12T19:08:24.260Z"
        },
        {
          "file": "en/osho_mystic_rose.html",
          "mtimeMs": 1613156244116.792,
          "date": "2021-02-12T19:08:24.388Z"
        },
        {
          "file": "en/personal_guidance.html",
          "mtimeMs": 1613156244116.792,
          "date": "2021-02-12T19:08:24.508Z"
        },
        {
          "file": "en/self_hypnosis.html",
          "mtimeMs": 1613156244117.7917,
          "date": "2021-02-12T19:08:24.763Z"
        },
        {
          "file": "en/what_i_offer.html",
          "mtimeMs": 1613156244117.7917,
          "date": "2021-02-12T19:08:24.893Z"
        },
        {
          "file": "en/blog/blog_1.html",
          "mtimeMs": 1613156244109.7903,
          "date": "2021-02-12T19:08:25.038Z"
        },
        {
          "file": "en/blog/blog_2.html",
          "mtimeMs": 1613156244109.7903,
          "date": "2021-02-12T19:08:25.197Z"
        },
        {
          "file": "en/blog/blog_3.html",
          "mtimeMs": 1613156244109.7903,
          "date": "2021-02-12T19:08:25.367Z"
        },
        {
          "file": "en/blog/blog_4.html",
          "mtimeMs": 1613156244110.7903,
          "date": "2021-02-12T19:08:25.497Z"
        },
        {
          "file": "php/subscribe.php",
          "mtimeMs": 1613156244279.334,
          "date": "2021-02-12T19:08:46.733Z"
        },
        {
          "file": "php/subscribe_en.php",
          "mtimeMs": 1613156244279.334,
          "date": "2021-02-12T19:08:46.867Z"
        },
        {
          "file": "archief.html",
          "mtimeMs": 1613156244096.7874,
          "date": "2021-02-12T19:08:17.574Z"
        },
        {
          "file": "blog.html",
          "mtimeMs": 1615145795574.7544,
          "date": "2021-03-07T19:40:52.111Z"
        },
        {
          "file": "nieuw_boek.html",
          "mtimeMs": 1613156244277.3347,
          "date": "2021-02-12T19:08:20.140Z"
        },
        {
          "file": "nieuwsbrief.html",
          "mtimeMs": 1613156244277.3347,
          "date": "2021-02-12T19:08:20.258Z"
        },
        {
          "file": "podcasts.html",
          "mtimeMs": 1613156244279.334,
          "date": "2021-02-12T19:08:20.585Z"
        },
        {
          "file": "blog/blog7.html",
          "mtimeMs": 1613156244101.788,
          "date": "2021-02-12T19:08:21.535Z"
        },
        {
          "file": "en/newsletter.html",
          "mtimeMs": 1613156244115.7915,
          "date": "2021-02-12T19:08:24.013Z"
        },
        {
          "file": "en/podcasts.html",
          "mtimeMs": 1613156244116.792,
          "date": "2021-02-12T19:08:24.637Z"
        },
        {
          "file": "en/blog/blog_5.html",
          "mtimeMs": 1613156244110.7903,
          "date": "2021-02-12T19:08:25.623Z"
        },
        {
          "file": "img/boek_nieuw.png",
          "mtimeMs": 1613156244155.8008,
          "date": "2021-02-12T19:08:30.650Z"
        },
        {
          "file": "img/lijnen.jpg",
          "mtimeMs": 1613156244180.8047,
          "date": "2021-02-12T19:08:34.500Z"
        },
        {
          "file": "img/nieuwsbrief.jpg",
          "mtimeMs": 1613156244221.814,
          "date": "2021-02-12T19:08:38.693Z"
        },
        {
          "file": "img/uitnodiging.png",
          "mtimeMs": 1613156244270.3318,
          "date": "2021-02-12T19:08:40.184Z"
        },
        {
          "file": "img/podcast/podcast.jpg",
          "mtimeMs": 1613156244225.8147,
          "date": "2021-02-12T19:08:41.812Z"
        },
        {
          "file": "img/podcast/podcast1.png",
          "mtimeMs": 1613156244226.815,
          "date": "2021-02-12T19:08:42.066Z"
        },
        {
          "file": "img/podcast/podcast2.jpg",
          "mtimeMs": 1613156244227.8152,
          "date": "2021-02-12T19:08:42.220Z"
        },
        {
          "file": "img/podcast/podcast3.png",
          "mtimeMs": 1613156244230.3225,
          "date": "2021-02-12T19:08:42.566Z"
        },
        {
          "file": "img/podcast/podcast4.png",
          "mtimeMs": 1613156244247.3267,
          "date": "2021-02-12T19:08:44.228Z"
        },
        {
          "file": "img/podcast/podcast5.png",
          "mtimeMs": 1613156244249.3274,
          "date": "2021-02-12T19:08:44.614Z"
        },
        {
          "file": "img/podcast/podcast6.png",
          "mtimeMs": 1613156244255.33,
          "date": "2021-02-12T19:08:45.136Z"
        },
        {
          "file": "img/podcast/podcast7.png",
          "mtimeMs": 1613156244257.329,
          "date": "2021-02-12T19:08:45.430Z"
        },
        {
          "file": "img/podcast/podcast8.png",
          "mtimeMs": 1613156244260.3296,
          "date": "2021-02-12T19:08:45.891Z"
        },
        {
          "file": "img/podcast/podcast9.png",
          "mtimeMs": 1613156244262.33,
          "date": "2021-02-12T19:08:46.159Z"
        },
        {
          "file": "en/blog.html",
          "mtimeMs": 1615145795577.7578,
          "date": "2021-03-07T19:40:27.644Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ],
          "relativePath": "../../css"
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "build/styles/app/_elements.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_footer.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_header.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_layout.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_mixins.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_navbar.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_typography.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_variables.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/style.scss",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "customOutput": "css\\style.css"
        }
      }
    ]
  }
}
