{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/build",
          "/admin",
          "/beyonddepression",
          "/enjoyingmeditation",
          "/Prioriteitenlijstje Modita.txt",
          "*.txt"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "genietenvanmeditatie.nl/web",
      "timeout": 10000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "agenda.html",
          "mtimeMs": 1612867625052.0305,
          "date": "2021-02-09T11:20:31.593Z"
        },
        {
          "file": "begeleiding.html",
          "mtimeMs": 1612867625053.0303,
          "date": "2021-02-09T11:20:32.154Z"
        },
        {
          "file": "ben_jij_dit.html",
          "mtimeMs": 1612867625053.0303,
          "date": "2021-02-09T11:20:32.312Z"
        },
        {
          "file": "consult.html",
          "mtimeMs": 1612867625061.0317,
          "date": "2021-02-09T11:20:33.083Z"
        },
        {
          "file": "contact.html",
          "mtimeMs": 1612867625062.0305,
          "date": "2021-02-09T11:20:33.262Z"
        },
        {
          "file": "depressie.html",
          "mtimeMs": 1612867625063.0303,
          "date": "2021-02-09T11:20:33.617Z"
        },
        {
          "file": "dynamische_meditatie.html",
          "mtimeMs": 1612867625063.0303,
          "date": "2021-02-09T11:20:33.785Z"
        },
        {
          "file": "eetproblemen.html",
          "mtimeMs": 1612867625064.0332,
          "date": "2021-02-09T11:20:33.977Z"
        },
        {
          "file": "gezichtsmassage.html",
          "mtimeMs": 1612867625074.0312,
          "date": "2021-02-09T11:20:34.520Z"
        },
        {
          "file": "hoe_werkt_het.html",
          "mtimeMs": 1612867625074.0312,
          "date": "2021-02-09T11:20:34.660Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1612867625286.031,
          "date": "2021-02-09T11:20:34.847Z"
        },
        {
          "file": "inspiratie.html",
          "mtimeMs": 1612867625286.031,
          "date": "2021-02-09T11:20:35.017Z"
        },
        {
          "file": "meditatie.html",
          "mtimeMs": 1612867625286.031,
          "date": "2021-02-09T11:20:35.180Z"
        },
        {
          "file": "meditatie_cursus.html",
          "mtimeMs": 1612867625287.0298,
          "date": "2021-02-09T11:20:35.425Z"
        },
        {
          "file": "mystic_rose.html",
          "mtimeMs": 1612867625287.0298,
          "date": "2021-02-09T11:20:35.651Z"
        },
        {
          "file": "ontspanning.html",
          "mtimeMs": 1612867625288.0303,
          "date": "2021-02-09T11:20:36.211Z"
        },
        {
          "file": "over_mij.html",
          "mtimeMs": 1612867625288.0303,
          "date": "2021-02-09T11:20:36.356Z"
        },
        {
          "file": "wat_ik_aanbied.html",
          "mtimeMs": 1612867625290.032,
          "date": "2021-02-09T11:20:36.862Z"
        },
        {
          "file": "zelfhypnose.html",
          "mtimeMs": 1612867625290.032,
          "date": "2021-02-09T11:20:37.036Z"
        },
        {
          "file": "blog/blog2.html",
          "mtimeMs": 1612867625057.0315,
          "date": "2021-02-09T11:20:37.240Z"
        },
        {
          "file": "blog/blog3.html",
          "mtimeMs": 1612867625057.0315,
          "date": "2021-02-09T11:20:37.457Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1612867625063.0303,
          "date": "2021-02-09T11:20:38.347Z"
        },
        {
          "file": "img/3.balans.png",
          "mtimeMs": 1612867625075.0312,
          "date": "2021-02-09T11:20:44.665Z"
        },
        {
          "file": "img/3.liefde.png",
          "mtimeMs": 1612867625077.0334,
          "date": "2021-02-09T11:20:44.938Z"
        },
        {
          "file": "img/3.meditatie.png",
          "mtimeMs": 1612867625078.0305,
          "date": "2021-02-09T11:20:45.165Z"
        },
        {
          "file": "img/3.oefening.png",
          "mtimeMs": 1612867625079.0303,
          "date": "2021-02-09T11:20:45.364Z"
        },
        {
          "file": "img/3.openheid.png",
          "mtimeMs": 1612867625081.032,
          "date": "2021-02-09T11:20:45.665Z"
        },
        {
          "file": "img/3.verheldering.png",
          "mtimeMs": 1612867625082.0327,
          "date": "2021-02-09T11:20:45.873Z"
        },
        {
          "file": "img/banner.jpg",
          "mtimeMs": 1612867625086.0298,
          "date": "2021-02-09T11:20:46.898Z"
        },
        {
          "file": "img/begeleiding.jpg",
          "mtimeMs": 1612867625091.0312,
          "date": "2021-02-09T11:20:47.243Z"
        },
        {
          "file": "img/ben_jij_dit.png",
          "mtimeMs": 1612867625095.0308,
          "date": "2021-02-09T11:20:47.843Z"
        },
        {
          "file": "img/boek.png",
          "mtimeMs": 1612867625102.0298,
          "date": "2021-02-09T11:20:48.163Z"
        },
        {
          "file": "img/consult.jfif",
          "mtimeMs": 1612867625121.0305,
          "date": "2021-02-09T11:20:49.356Z"
        },
        {
          "file": "img/consult2.png",
          "mtimeMs": 1612867625125.031,
          "date": "2021-02-09T11:20:49.647Z"
        },
        {
          "file": "img/contact.png",
          "mtimeMs": 1612867625129.03,
          "date": "2021-02-09T11:20:50.122Z"
        },
        {
          "file": "img/cursus.jpg",
          "mtimeMs": 1612867625129.03,
          "date": "2021-02-09T11:20:50.289Z"
        },
        {
          "file": "img/depressie.jfif",
          "mtimeMs": 1612867625131.0305,
          "date": "2021-02-09T11:20:50.472Z"
        },
        {
          "file": "img/dynamisch.jpg",
          "mtimeMs": 1612867625131.0305,
          "date": "2021-02-09T11:20:50.630Z"
        },
        {
          "file": "img/eetprobleem.jfif",
          "mtimeMs": 1612867625131.0305,
          "date": "2021-02-09T11:20:50.800Z"
        },
        {
          "file": "img/geschenk.png",
          "mtimeMs": 1612867625138.031,
          "date": "2021-02-09T11:20:51.437Z"
        },
        {
          "file": "img/gezichtsmassage.jfif",
          "mtimeMs": 1612867625139.0317,
          "date": "2021-02-09T11:20:51.622Z"
        },
        {
          "file": "img/header.jpg",
          "mtimeMs": 1612867625141.0295,
          "date": "2021-02-09T11:20:51.926Z"
        },
        {
          "file": "img/hoe_het_werkt.jpg",
          "mtimeMs": 1612867625145.0298,
          "date": "2021-02-09T11:20:52.706Z"
        },
        {
          "file": "img/map.png",
          "mtimeMs": 1612867625152.0308,
          "date": "2021-02-09T11:20:53.380Z"
        },
        {
          "file": "img/meditatie.jpg",
          "mtimeMs": 1612867625154.0303,
          "date": "2021-02-09T11:20:53.747Z"
        },
        {
          "file": "img/ontspanning.jpg",
          "mtimeMs": 1612867625211.032,
          "date": "2021-02-09T11:20:56.889Z"
        },
        {
          "file": "img/rose.jfif",
          "mtimeMs": 1612867625274.0303,
          "date": "2021-02-09T11:20:57.756Z"
        },
        {
          "file": "img/zelfhypnose.jfif",
          "mtimeMs": 1612867625285.0325,
          "date": "2021-02-09T11:20:58.806Z"
        },
        {
          "file": "js/packery.js",
          "mtimeMs": 1612867625286.031,
          "date": "2021-02-09T11:21:04.267Z"
        },
        {
          "file": "js/script.js",
          "mtimeMs": 1612867625286.031,
          "date": "2021-02-09T11:21:04.400Z"
        },
        {
          "file": "avg.html",
          "mtimeMs": 1612867625053.0303,
          "date": "2021-02-09T11:20:31.962Z"
        },
        {
          "file": "blog_begeleiding.html",
          "mtimeMs": 1612867625058.0305,
          "date": "2021-02-09T11:20:32.726Z"
        },
        {
          "file": "blog_meditatie.html",
          "mtimeMs": 1612867625058.0305,
          "date": "2021-02-09T11:20:32.904Z"
        },
        {
          "file": "covid.html",
          "mtimeMs": 1612867625062.0305,
          "date": "2021-02-09T11:20:33.434Z"
        },
        {
          "file": "familie_opstellingen.html",
          "mtimeMs": 1612867625073.033,
          "date": "2021-02-09T11:20:34.152Z"
        },
        {
          "file": "blog/blog5.html",
          "mtimeMs": 1612867625057.0315,
          "date": "2021-02-09T11:20:37.698Z"
        },
        {
          "file": "blog/blog6.html",
          "mtimeMs": 1612867625057.0315,
          "date": "2021-02-09T11:20:37.915Z"
        },
        {
          "file": "en/avg.html",
          "mtimeMs": 1612867625064.0332,
          "date": "2021-02-09T11:20:38.723Z"
        },
        {
          "file": "en/consult.html",
          "mtimeMs": 1612867625067.031,
          "date": "2021-02-09T11:20:39.656Z"
        },
        {
          "file": "en/contact.html",
          "mtimeMs": 1612867625067.031,
          "date": "2021-02-09T11:20:39.847Z"
        },
        {
          "file": "en/covid.html",
          "mtimeMs": 1612867625068.0315,
          "date": "2021-02-09T11:20:40.031Z"
        },
        {
          "file": "en/index.html",
          "mtimeMs": 1612867625069.0315,
          "date": "2021-02-09T11:20:41.146Z"
        },
        {
          "file": "img/annet.png",
          "mtimeMs": 1612867625084.0303,
          "date": "2021-02-09T11:20:46.123Z"
        },
        {
          "file": "img/anon.png",
          "mtimeMs": 1612867625085.0303,
          "date": "2021-02-09T11:20:46.323Z"
        },
        {
          "file": "img/anon2.png",
          "mtimeMs": 1612867625085.0303,
          "date": "2021-02-09T11:20:46.522Z"
        },
        {
          "file": "img/ashirda.png",
          "mtimeMs": 1612867625086.0298,
          "date": "2021-02-09T11:20:46.706Z"
        },
        {
          "file": "img/belgie.png",
          "mtimeMs": 1612867625092.0332,
          "date": "2021-02-09T11:20:47.492Z"
        },
        {
          "file": "img/consult3.png",
          "mtimeMs": 1612867625128.029,
          "date": "2021-02-09T11:20:49.923Z"
        },
        {
          "file": "img/eten2.png",
          "mtimeMs": 1612867625133.0327,
          "date": "2021-02-09T11:20:50.997Z"
        },
        {
          "file": "img/header_lente.jpg",
          "mtimeMs": 1612867625143.0315,
          "date": "2021-02-09T11:20:52.164Z"
        },
        {
          "file": "img/hettie.jpg",
          "mtimeMs": 1612867625144.0327,
          "date": "2021-02-09T11:20:52.364Z"
        },
        {
          "file": "img/hettie.png",
          "mtimeMs": 1612867625144.0327,
          "date": "2021-02-09T11:20:52.539Z"
        },
        {
          "file": "img/index.php",
          "mtimeMs": 1612867625145.0298,
          "date": "2021-02-09T11:20:52.839Z"
        },
        {
          "file": "img/mart.png",
          "mtimeMs": 1612867625153.0315,
          "date": "2021-02-09T11:20:53.580Z"
        },
        {
          "file": "img/modita.png",
          "mtimeMs": 1612867625156.031,
          "date": "2021-02-09T11:20:54.007Z"
        },
        {
          "file": "img/modita_2.png",
          "mtimeMs": 1612867625157.0322,
          "date": "2021-02-09T11:20:54.240Z"
        },
        {
          "file": "img/opstellingen.jpg",
          "mtimeMs": 1612867625212.0308,
          "date": "2021-02-09T11:20:57.064Z"
        },
        {
          "file": "img/opstellingen2.jpg",
          "mtimeMs": 1612867625212.0308,
          "date": "2021-02-09T11:20:57.222Z"
        },
        {
          "file": "img/ria.png",
          "mtimeMs": 1612867625268.032,
          "date": "2021-02-09T11:20:57.407Z"
        },
        {
          "file": "img/thumbnail.jpg",
          "mtimeMs": 1612867625277.0312,
          "date": "2021-02-09T11:20:57.982Z"
        },
        {
          "file": "img/willy.png",
          "mtimeMs": 1612867625284.0303,
          "date": "2021-02-09T11:20:58.614Z"
        },
        {
          "file": "img/blog/blog1.jpg",
          "mtimeMs": 1612867625096.03,
          "date": "2021-02-09T11:20:58.990Z"
        },
        {
          "file": "img/blog/blog2.jpg",
          "mtimeMs": 1612867625096.03,
          "date": "2021-02-09T11:20:59.155Z"
        },
        {
          "file": "img/blog/blog3.jpg",
          "mtimeMs": 1612867625097.03,
          "date": "2021-02-09T11:20:59.331Z"
        },
        {
          "file": "img/blog/blog4.jpg",
          "mtimeMs": 1612867625098.032,
          "date": "2021-02-09T11:20:59.531Z"
        },
        {
          "file": "img/blog/blog5.jpg",
          "mtimeMs": 1612867625098.032,
          "date": "2021-02-09T11:20:59.730Z"
        },
        {
          "file": "img/blog/blog6.jpg",
          "mtimeMs": 1612867625099.0305,
          "date": "2021-02-09T11:20:59.925Z"
        },
        {
          "file": "php/contact.php",
          "mtimeMs": 1612867625288.0303,
          "date": "2021-02-09T11:21:04.542Z"
        },
        {
          "file": "php/contact_en.php",
          "mtimeMs": 1612867625289.0315,
          "date": "2021-02-09T11:21:04.700Z"
        },
        {
          "file": "en/about_me.html",
          "mtimeMs": 1612867625064.0332,
          "date": "2021-02-09T11:20:38.547Z"
        },
        {
          "file": "en/beyond_depression.html",
          "mtimeMs": 1612867625065.0327,
          "date": "2021-02-09T11:20:38.906Z"
        },
        {
          "file": "en/blog_family_constellations.html",
          "mtimeMs": 1612867625066.0305,
          "date": "2021-02-09T11:20:39.097Z"
        },
        {
          "file": "en/blog_meditation.html",
          "mtimeMs": 1612867625067.031,
          "date": "2021-02-09T11:20:39.273Z"
        },
        {
          "file": "en/calendar.html",
          "mtimeMs": 1612867625067.031,
          "date": "2021-02-09T11:20:39.456Z"
        },
        {
          "file": "en/deep_relaxation.html",
          "mtimeMs": 1612867625068.0315,
          "date": "2021-02-09T11:20:40.214Z"
        },
        {
          "file": "en/eating_problems.html",
          "mtimeMs": 1612867625068.0315,
          "date": "2021-02-09T11:20:40.414Z"
        },
        {
          "file": "en/family_constellations.html",
          "mtimeMs": 1612867625068.0315,
          "date": "2021-02-09T11:20:40.614Z"
        },
        {
          "file": "en/how_it_works.html",
          "mtimeMs": 1612867625068.0315,
          "date": "2021-02-09T11:20:40.964Z"
        },
        {
          "file": "en/inspiration.html",
          "mtimeMs": 1612867625069.0315,
          "date": "2021-02-09T11:20:41.322Z"
        },
        {
          "file": "en/is_this_you.html",
          "mtimeMs": 1612867625069.0315,
          "date": "2021-02-09T11:20:41.490Z"
        },
        {
          "file": "en/japanese_face_massage.html",
          "mtimeMs": 1612867625069.0315,
          "date": "2021-02-09T11:20:41.677Z"
        },
        {
          "file": "en/meditation.html",
          "mtimeMs": 1612867625069.0315,
          "date": "2021-02-09T11:20:41.888Z"
        },
        {
          "file": "en/osho_dynamic_meditation.html",
          "mtimeMs": 1612867625070.0312,
          "date": "2021-02-09T11:20:42.272Z"
        },
        {
          "file": "en/osho_meditation_course.html",
          "mtimeMs": 1612867625070.0312,
          "date": "2021-02-09T11:20:42.440Z"
        },
        {
          "file": "en/osho_mystic_rose.html",
          "mtimeMs": 1612867625070.0312,
          "date": "2021-02-09T11:20:42.608Z"
        },
        {
          "file": "en/personal_guidance.html",
          "mtimeMs": 1612867625071.0312,
          "date": "2021-02-09T11:20:42.845Z"
        },
        {
          "file": "en/self_hypnosis.html",
          "mtimeMs": 1612867625071.0312,
          "date": "2021-02-09T11:20:43.272Z"
        },
        {
          "file": "en/what_i_offer.html",
          "mtimeMs": 1612867625071.0312,
          "date": "2021-02-09T11:20:43.489Z"
        },
        {
          "file": "en/blog/blog_1.html",
          "mtimeMs": 1612867625065.0327,
          "date": "2021-02-09T11:20:43.673Z"
        },
        {
          "file": "en/blog/blog_2.html",
          "mtimeMs": 1612867625065.0327,
          "date": "2021-02-09T11:20:43.866Z"
        },
        {
          "file": "en/blog/blog_3.html",
          "mtimeMs": 1612867625065.0327,
          "date": "2021-02-09T11:20:44.048Z"
        },
        {
          "file": "en/blog/blog_4.html",
          "mtimeMs": 1612867625066.0305,
          "date": "2021-02-09T11:20:44.231Z"
        },
        {
          "file": "php/subscribe.php",
          "mtimeMs": 1612867625289.0315,
          "date": "2021-02-09T11:21:04.856Z"
        },
        {
          "file": "php/subscribe_en.php",
          "mtimeMs": 1612867625289.0315,
          "date": "2021-02-09T11:21:04.981Z"
        },
        {
          "file": "text.io",
          "mtimeMs": 1612869566503.5093,
          "date": "2021-02-09T11:19:39.034Z"
        },
        {
          "file": "archief.html",
          "mtimeMs": 1612867625052.0305,
          "date": "2021-02-09T11:20:31.799Z"
        },
        {
          "file": "blog.html",
          "mtimeMs": 1612867625056.031,
          "date": "2021-02-09T11:20:32.528Z"
        },
        {
          "file": "nieuw_boek.html",
          "mtimeMs": 1612869128252.1494,
          "date": "2021-02-09T11:20:35.865Z"
        },
        {
          "file": "nieuwsbrief.html",
          "mtimeMs": 1612867625287.0298,
          "date": "2021-02-09T11:20:36.041Z"
        },
        {
          "file": "podcasts.html",
          "mtimeMs": 1612867625289.0315,
          "date": "2021-02-09T11:20:36.533Z"
        },
        {
          "file": "blog/blog7.html",
          "mtimeMs": 1612867625058.0305,
          "date": "2021-02-09T11:20:38.139Z"
        },
        {
          "file": "en/newsletter.html",
          "mtimeMs": 1612867625070.0312,
          "date": "2021-02-09T11:20:42.068Z"
        },
        {
          "file": "en/podcasts.html",
          "mtimeMs": 1612867625071.0312,
          "date": "2021-02-09T11:20:43.031Z"
        },
        {
          "file": "en/blog/blog_5.html",
          "mtimeMs": 1612867625066.0305,
          "date": "2021-02-09T11:20:44.414Z"
        },
        {
          "file": "img/boek_nieuw.png",
          "mtimeMs": 1612867625120.0308,
          "date": "2021-02-09T11:20:49.140Z"
        },
        {
          "file": "img/lijnen.jpg",
          "mtimeMs": 1612867625150.0303,
          "date": "2021-02-09T11:20:53.101Z"
        },
        {
          "file": "img/nieuwsbrief.jpg",
          "mtimeMs": 1612867625210.0342,
          "date": "2021-02-09T11:20:56.668Z"
        },
        {
          "file": "img/uitnodiging.png",
          "mtimeMs": 1612867625279.0298,
          "date": "2021-02-09T11:20:58.217Z"
        },
        {
          "file": "img/podcast/podcast.jpg",
          "mtimeMs": 1612867625214.031,
          "date": "2021-02-09T11:21:00.156Z"
        },
        {
          "file": "img/podcast/podcast1.png",
          "mtimeMs": 1612867625216.0298,
          "date": "2021-02-09T11:21:00.453Z"
        },
        {
          "file": "img/podcast/podcast2.jpg",
          "mtimeMs": 1612867625217.032,
          "date": "2021-02-09T11:21:00.614Z"
        },
        {
          "file": "img/podcast/podcast3.png",
          "mtimeMs": 1612867625221.0322,
          "date": "2021-02-09T11:21:00.956Z"
        },
        {
          "file": "img/podcast/podcast4.png",
          "mtimeMs": 1612867625246.035,
          "date": "2021-02-09T11:21:02.245Z"
        },
        {
          "file": "img/podcast/podcast5.png",
          "mtimeMs": 1612867625249.0293,
          "date": "2021-02-09T11:21:02.609Z"
        },
        {
          "file": "img/podcast/podcast6.png",
          "mtimeMs": 1612867625258.0332,
          "date": "2021-02-09T11:21:03.095Z"
        },
        {
          "file": "img/podcast/podcast7.png",
          "mtimeMs": 1612867625260.031,
          "date": "2021-02-09T11:21:03.426Z"
        },
        {
          "file": "img/podcast/podcast8.png",
          "mtimeMs": 1612867625265.0305,
          "date": "2021-02-09T11:21:03.834Z"
        },
        {
          "file": "img/podcast/podcast9.png",
          "mtimeMs": 1612867625267.0303,
          "date": "2021-02-09T11:21:04.124Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ],
          "relativePath": "../../css"
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "build/styles/app/_elements.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_footer.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_header.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_layout.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_mixins.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_navbar.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_typography.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/app/_variables.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "build/styles/style.scss",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "customOutput": "css\\style.css"
        }
      }
    ]
  }
}
