RewriteEngine on
RewriteBase /

# Redirect familieopstellingen
Redirect 301 /familie_opstellingen.html https://www.genietenvanmeditatie.nl/aanbod/familie-opstellingen.html
Redirect 301 /en/family_constellations.html https://www.genietenvanmeditatie.nl/en/offer/family-constellations.html

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Gzip settings
<IfModule mod_deflate.c>
  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>

  <IfModule filter_module>
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  Header append Vary User-Agent
  </IfModule>
</IfModule>

# Cache settings
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"
ExpiresDefault "access plus 7 days"
</IfModule>