{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/TODO",
          "/scss",
          "/blog-alles.zip"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "genietenvanmeditatie.nl/web",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "aanbod.html",
          "mtimeMs": 1651649785929.275,
          "date": "2022-05-04T08:41:09.900Z"
        },
        {
          "file": "agenda.html",
          "mtimeMs": 1651649777243.3665,
          "date": "2022-05-04T08:41:10.059Z"
        },
        {
          "file": "avg.html",
          "mtimeMs": 1651649806681.096,
          "date": "2022-05-04T08:41:10.225Z"
        },
        {
          "file": "contact.html",
          "mtimeMs": 1651649848993.1382,
          "date": "2022-05-04T08:41:10.384Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1651649865336.6064,
          "date": "2022-05-04T08:41:10.534Z"
        },
        {
          "file": "over_mij.html",
          "mtimeMs": 1651649881655.1055,
          "date": "2022-05-04T08:41:10.699Z"
        },
        {
          "file": "aanbod/coaching.html",
          "mtimeMs": 1651649941017.116,
          "date": "2022-05-04T08:41:10.877Z"
        },
        {
          "file": "aanbod/community.html",
          "mtimeMs": 1651650439129.0835,
          "date": "2022-05-04T08:41:11.048Z"
        },
        {
          "file": "aanbod/dansavonden.html",
          "mtimeMs": 1651649975150.006,
          "date": "2022-05-04T08:41:11.215Z"
        },
        {
          "file": "aanbod/familie-opstellingen.html",
          "mtimeMs": 1651649988472.804,
          "date": "2022-05-04T08:41:11.381Z"
        },
        {
          "file": "aanbod/gezichts-massage.html",
          "mtimeMs": 1651650063318.939,
          "date": "2022-05-04T08:41:11.549Z"
        },
        {
          "file": "aanbod/osho-meditaties.html",
          "mtimeMs": 1651650043666.1562,
          "date": "2022-05-04T08:41:11.714Z"
        },
        {
          "file": "aanbod/osho-mystic-rose.html",
          "mtimeMs": 1651650169413.2078,
          "date": "2022-05-04T08:41:11.876Z"
        },
        {
          "file": "aanbod/praten-met-lichaam-en-mind copy.html",
          "mtimeMs": 1651650477669.4763,
          "date": "2022-05-04T08:41:12.044Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1650197297967.084,
          "date": "2022-05-04T08:41:12.259Z"
        },
        {
          "file": "img/favicon-16x16.webp",
          "mtimeMs": 1642360345850.7136,
          "date": "2022-05-04T08:41:12.436Z"
        },
        {
          "file": "img/favicon-32x32.webp",
          "mtimeMs": 1642360335249.7239,
          "date": "2022-05-04T08:41:12.607Z"
        },
        {
          "file": "img/thumbnail.webp",
          "mtimeMs": 1642360668182.9368,
          "date": "2022-05-04T08:41:12.893Z"
        },
        {
          "file": "img/aanbod/coaching.webp",
          "mtimeMs": 1648198746722.5464,
          "date": "2022-05-04T08:41:13.093Z"
        },
        {
          "file": "img/aanbod/community.webp",
          "mtimeMs": 1648198758128.3064,
          "date": "2022-05-04T08:41:13.303Z"
        },
        {
          "file": "img/aanbod/cursus-depressie.webp",
          "mtimeMs": 1648199305183.4126,
          "date": "2022-05-04T08:41:13.523Z"
        },
        {
          "file": "img/aanbod/cusus-eetproblemen.webp",
          "mtimeMs": 1648198763133.2349,
          "date": "2022-05-04T08:41:13.714Z"
        },
        {
          "file": "img/aanbod/dans.webp",
          "mtimeMs": 1648198765387.2322,
          "date": "2022-05-04T08:41:13.925Z"
        },
        {
          "file": "img/aanbod/face-massage.webp",
          "mtimeMs": 1650360769994.3984,
          "date": "2022-05-04T08:41:14.140Z"
        },
        {
          "file": "img/aanbod/familie-opstellingen.webp",
          "mtimeMs": 1648198767889.5427,
          "date": "2022-05-04T08:41:14.357Z"
        },
        {
          "file": "img/aanbod/header-aanbod-l.webp",
          "mtimeMs": 1648198773169.3142,
          "date": "2022-05-04T08:41:14.574Z"
        },
        {
          "file": "img/aanbod/header-aanbod-m.webp",
          "mtimeMs": 1648198775664.2354,
          "date": "2022-05-04T08:41:14.769Z"
        },
        {
          "file": "img/aanbod/header-aanbod-s.webp",
          "mtimeMs": 1648198783903.9614,
          "date": "2022-05-04T08:41:14.958Z"
        },
        {
          "file": "img/aanbod/header-aanbod-xl.webp",
          "mtimeMs": 1648198786355.6726,
          "date": "2022-05-04T08:41:15.175Z"
        },
        {
          "file": "img/aanbod/massage.webp",
          "mtimeMs": 1648198796380.3843,
          "date": "2022-05-04T08:41:15.391Z"
        },
        {
          "file": "img/aanbod/meditatie.webp",
          "mtimeMs": 1648198790654.2373,
          "date": "2022-05-04T08:41:15.602Z"
        },
        {
          "file": "img/aanbod/modita.webp",
          "mtimeMs": 1648198792532.7048,
          "date": "2022-05-04T08:41:15.800Z"
        },
        {
          "file": "img/aanbod/osho-mystic-rose.webp",
          "mtimeMs": 1650964881254.156,
          "date": "2022-05-04T08:41:16.012Z"
        },
        {
          "file": "img/aanbod/osho.webp",
          "mtimeMs": 1648198794377.261,
          "date": "2022-05-04T08:41:16.225Z"
        },
        {
          "file": "img/aanbod/zelfhypnose.webp",
          "mtimeMs": 1650359751126.194,
          "date": "2022-05-04T08:41:16.460Z"
        },
        {
          "file": "img/agenda/header-agenda-l.webp",
          "mtimeMs": 1648198801165.4456,
          "date": "2022-05-04T08:41:16.706Z"
        },
        {
          "file": "img/agenda/header-agenda-m.webp",
          "mtimeMs": 1648198803043.0017,
          "date": "2022-05-04T08:41:16.924Z"
        },
        {
          "file": "img/agenda/header-agenda-s.webp",
          "mtimeMs": 1648198805051.895,
          "date": "2022-05-04T08:41:17.137Z"
        },
        {
          "file": "img/agenda/header-agenda-xl.webp",
          "mtimeMs": 1648198807608.83,
          "date": "2022-05-04T08:41:17.368Z"
        },
        {
          "file": "img/contact/kettingstraat.webp",
          "mtimeMs": 1650909609152.092,
          "date": "2022-05-04T08:41:17.615Z"
        },
        {
          "file": "img/contact/kettingstraat_map.webp",
          "mtimeMs": 1650909625124.035,
          "date": "2022-05-04T08:41:17.824Z"
        },
        {
          "file": "img/index/aanbod.webp",
          "mtimeMs": 1650362078792.6333,
          "date": "2022-05-04T08:41:18.048Z"
        },
        {
          "file": "img/index/agenda.webp",
          "mtimeMs": 1650361958846.0261,
          "date": "2022-05-04T08:41:18.259Z"
        },
        {
          "file": "img/index/contact.webp",
          "mtimeMs": 1650362099282,
          "date": "2022-05-04T08:41:18.466Z"
        },
        {
          "file": "img/index/header-index-l.webp",
          "mtimeMs": 1644064588597,
          "date": "2022-05-04T08:41:18.761Z"
        },
        {
          "file": "img/index/header-index-m.webp",
          "mtimeMs": 1644064581312,
          "date": "2022-05-04T08:41:19.017Z"
        },
        {
          "file": "img/index/header-index-s.webp",
          "mtimeMs": 1644064575576.9998,
          "date": "2022-05-04T08:41:19.281Z"
        },
        {
          "file": "img/index/header-index-xl.webp",
          "mtimeMs": 1644064568076,
          "date": "2022-05-04T08:41:19.589Z"
        },
        {
          "file": "img/over-mij/blog.webp",
          "mtimeMs": 1648198815727.7646,
          "date": "2022-05-04T08:41:19.799Z"
        },
        {
          "file": "img/over-mij/boeken.webp",
          "mtimeMs": 1648198818068.2478,
          "date": "2022-05-04T08:41:20.019Z"
        },
        {
          "file": "img/over-mij/depressie-boek.webp",
          "mtimeMs": 1648198821487.7798,
          "date": "2022-05-04T08:41:20.228Z"
        },
        {
          "file": "img/over-mij/honger-boek.webp",
          "mtimeMs": 1648198824080.7617,
          "date": "2022-05-04T08:41:20.437Z"
        },
        {
          "file": "img/over-mij/podcast.webp",
          "mtimeMs": 1648198826396.0593,
          "date": "2022-05-04T08:41:20.627Z"
        },
        {
          "file": "img/reviews/anoniem.webp",
          "mtimeMs": 1650198514434.8271,
          "date": "2022-05-04T08:41:20.825Z"
        },
        {
          "file": "img/reviews/ashirda.webp",
          "mtimeMs": 1648198832470.7012,
          "date": "2022-05-04T08:41:21.011Z"
        },
        {
          "file": "img/reviews/mart.webp",
          "mtimeMs": 1650198212748.4275,
          "date": "2022-05-04T08:41:21.211Z"
        },
        {
          "file": "img/reviews/ria.webp",
          "mtimeMs": 1650197995430.8086,
          "date": "2022-05-04T08:41:21.415Z"
        },
        {
          "file": "img/reviews/willy.webp",
          "mtimeMs": 1650197988973.302,
          "date": "2022-05-04T08:41:21.624Z"
        },
        {
          "file": "js/script.js",
          "mtimeMs": 1650196344068.9004,
          "date": "2022-05-04T08:41:21.802Z"
        },
        {
          "file": "over-mij/boeken.html",
          "mtimeMs": 1651649894315.1116,
          "date": "2022-05-04T08:41:21.969Z"
        },
        {
          "file": "over-mij/podcast.html",
          "mtimeMs": 1651653027672.6963,
          "date": "2022-05-04T08:41:22.132Z"
        },
        {
          "file": "php/contact.php",
          "mtimeMs": 1650196098593.5042,
          "date": "2022-05-04T08:41:22.315Z"
        },
        {
          "file": "php/subscribe.php",
          "mtimeMs": 1650196012665.3706,
          "date": "2022-05-04T08:41:22.507Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
