{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/TODO",
          "/scss",
          "/blog-alles.zip"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "genietenvanmeditatie.nl/web",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "aanbod.html",
          "mtimeMs": 1675782467424.1472,
          "date": "2023-02-14T12:23:35.127Z"
        },
        {
          "file": "agenda.html",
          "mtimeMs": 1675782467433.693,
          "date": "2023-02-14T12:23:35.522Z"
        },
        {
          "file": "avg.html",
          "mtimeMs": 1675782467433.693,
          "date": "2023-02-14T12:23:35.876Z"
        },
        {
          "file": "contact.html",
          "mtimeMs": 1675782467433.693,
          "date": "2023-02-14T12:23:36.237Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1675782467441.0164,
          "date": "2023-02-14T12:23:36.559Z"
        },
        {
          "file": "aanbod/coaching.html",
          "mtimeMs": 1676377384546.1392,
          "date": "2023-02-14T12:23:37.269Z"
        },
        {
          "file": "aanbod/community.html",
          "mtimeMs": 1675782467426.389,
          "date": "2023-02-14T12:23:37.642Z"
        },
        {
          "file": "aanbod/dansavonden.html",
          "mtimeMs": 1675782467427.2766,
          "date": "2023-02-14T12:23:37.981Z"
        },
        {
          "file": "aanbod/familie-opstellingen.html",
          "mtimeMs": 1675782467428.3855,
          "date": "2023-02-14T12:23:38.345Z"
        },
        {
          "file": "aanbod/gezichts-massage.html",
          "mtimeMs": 1675782467429.435,
          "date": "2023-02-14T12:23:38.645Z"
        },
        {
          "file": "aanbod/osho-meditaties.html",
          "mtimeMs": 1675782467431.1013,
          "date": "2023-02-14T12:23:39.307Z"
        },
        {
          "file": "aanbod/osho-mystic-rose.html",
          "mtimeMs": 1675782467432.1401,
          "date": "2023-02-14T12:23:39.688Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1675782467436.742,
          "date": "2023-02-14T12:23:40.359Z"
        },
        {
          "file": "img/favicon-16x16.webp",
          "mtimeMs": 1669017932234.9414,
          "date": "2023-02-14T12:23:48.129Z"
        },
        {
          "file": "img/favicon-32x32.webp",
          "mtimeMs": 1669017932242.941,
          "date": "2023-02-14T12:23:48.440Z"
        },
        {
          "file": "img/thumbnail.webp",
          "mtimeMs": 1669017932266.9358,
          "date": "2023-02-14T12:23:49.216Z"
        },
        {
          "file": "img/aanbod/coaching.webp",
          "mtimeMs": 1669017932210.935,
          "date": "2023-02-14T12:23:49.592Z"
        },
        {
          "file": "img/aanbod/community.webp",
          "mtimeMs": 1669017932210.935,
          "date": "2023-02-14T12:23:49.942Z"
        },
        {
          "file": "img/aanbod/cursus-depressie.webp",
          "mtimeMs": 1669017932210.935,
          "date": "2023-02-14T12:23:50.298Z"
        },
        {
          "file": "img/aanbod/cusus-eetproblemen.webp",
          "mtimeMs": 1669017932218.9353,
          "date": "2023-02-14T12:23:50.988Z"
        },
        {
          "file": "img/aanbod/dans.webp",
          "mtimeMs": 1669017932218.9353,
          "date": "2023-02-14T12:23:51.671Z"
        },
        {
          "file": "img/aanbod/face-massage.webp",
          "mtimeMs": 1669017932218.9353,
          "date": "2023-02-14T12:23:52.064Z"
        },
        {
          "file": "img/aanbod/familie-opstellingen.webp",
          "mtimeMs": 1669017932218.9353,
          "date": "2023-02-14T12:23:53.585Z"
        },
        {
          "file": "img/aanbod/header-aanbod-l.webp",
          "mtimeMs": 1669017932218.9353,
          "date": "2023-02-14T12:23:53.929Z"
        },
        {
          "file": "img/aanbod/header-aanbod-m.webp",
          "mtimeMs": 1669017932218.9353,
          "date": "2023-02-14T12:23:54.247Z"
        },
        {
          "file": "img/aanbod/header-aanbod-s.webp",
          "mtimeMs": 1669017932226.9368,
          "date": "2023-02-14T12:23:54.575Z"
        },
        {
          "file": "img/aanbod/header-aanbod-xl.webp",
          "mtimeMs": 1669017932226.9368,
          "date": "2023-02-14T12:23:54.927Z"
        },
        {
          "file": "img/aanbod/massage.webp",
          "mtimeMs": 1669017932226.9368,
          "date": "2023-02-14T12:23:55.285Z"
        },
        {
          "file": "img/aanbod/meditatie.webp",
          "mtimeMs": 1669017932226.9368,
          "date": "2023-02-14T12:23:55.640Z"
        },
        {
          "file": "img/aanbod/modita.webp",
          "mtimeMs": 1669017932226.9368,
          "date": "2023-02-14T12:23:56.008Z"
        },
        {
          "file": "img/aanbod/osho-mystic-rose.webp",
          "mtimeMs": 1669017932226.9368,
          "date": "2023-02-14T12:23:56.743Z"
        },
        {
          "file": "img/aanbod/osho.webp",
          "mtimeMs": 1669017932226.9368,
          "date": "2023-02-14T12:23:57.086Z"
        },
        {
          "file": "img/aanbod/zelfhypnose.webp",
          "mtimeMs": 1669017932226.9368,
          "date": "2023-02-14T12:23:57.473Z"
        },
        {
          "file": "img/agenda/header-agenda-l.webp",
          "mtimeMs": 1669017932226.9368,
          "date": "2023-02-14T12:23:57.839Z"
        },
        {
          "file": "img/agenda/header-agenda-m.webp",
          "mtimeMs": 1669017932234.9414,
          "date": "2023-02-14T12:23:58.198Z"
        },
        {
          "file": "img/agenda/header-agenda-s.webp",
          "mtimeMs": 1669017932234.9414,
          "date": "2023-02-14T12:23:58.526Z"
        },
        {
          "file": "img/agenda/header-agenda-xl.webp",
          "mtimeMs": 1669017932234.9414,
          "date": "2023-02-14T12:23:58.896Z"
        },
        {
          "file": "img/contact/kettingstraat.webp",
          "mtimeMs": 1669017932234.9414,
          "date": "2023-02-14T12:24:00.588Z"
        },
        {
          "file": "img/contact/kettingstraat_map.webp",
          "mtimeMs": 1669017932234.9414,
          "date": "2023-02-14T12:24:00.955Z"
        },
        {
          "file": "img/index/aanbod.webp",
          "mtimeMs": 1669017932242.941,
          "date": "2023-02-14T12:24:01.311Z"
        },
        {
          "file": "img/index/agenda.webp",
          "mtimeMs": 1669017932242.941,
          "date": "2023-02-14T12:24:01.660Z"
        },
        {
          "file": "img/index/contact.webp",
          "mtimeMs": 1669017932242.941,
          "date": "2023-02-14T12:24:01.952Z"
        },
        {
          "file": "img/index/header-index-l.webp",
          "mtimeMs": 1669017932242.941,
          "date": "2023-02-14T12:24:02.368Z"
        },
        {
          "file": "img/index/header-index-m.webp",
          "mtimeMs": 1669017932242.941,
          "date": "2023-02-14T12:24:02.714Z"
        },
        {
          "file": "img/index/header-index-s.webp",
          "mtimeMs": 1669017932250.9397,
          "date": "2023-02-14T12:24:03.091Z"
        },
        {
          "file": "img/index/header-index-xl.webp",
          "mtimeMs": 1669017932250.9397,
          "date": "2023-02-14T12:24:03.551Z"
        },
        {
          "file": "img/over-mij/blog.webp",
          "mtimeMs": 1669017932250.9397,
          "date": "2023-02-14T12:24:03.934Z"
        },
        {
          "file": "img/over-mij/boeken.webp",
          "mtimeMs": 1669017932258.937,
          "date": "2023-02-14T12:24:04.306Z"
        },
        {
          "file": "img/over-mij/depressie-boek.webp",
          "mtimeMs": 1669017932258.937,
          "date": "2023-02-14T12:24:05.291Z"
        },
        {
          "file": "img/over-mij/honger-boek.webp",
          "mtimeMs": 1669017932258.937,
          "date": "2023-02-14T12:24:06.456Z"
        },
        {
          "file": "img/over-mij/podcast.webp",
          "mtimeMs": 1669017932258.937,
          "date": "2023-02-14T12:24:06.803Z"
        },
        {
          "file": "img/reviews/anoniem.webp",
          "mtimeMs": 1669017932258.937,
          "date": "2023-02-14T12:24:09.437Z"
        },
        {
          "file": "img/reviews/ashirda.webp",
          "mtimeMs": 1669017932258.937,
          "date": "2023-02-14T12:24:09.782Z"
        },
        {
          "file": "img/reviews/mart.webp",
          "mtimeMs": 1669017932266.9358,
          "date": "2023-02-14T12:24:11.142Z"
        },
        {
          "file": "img/reviews/ria.webp",
          "mtimeMs": 1669017932266.9358,
          "date": "2023-02-14T12:24:11.618Z"
        },
        {
          "file": "img/reviews/willy.webp",
          "mtimeMs": 1669017932266.9358,
          "date": "2023-02-14T12:24:12.494Z"
        },
        {
          "file": "js/script.js",
          "mtimeMs": 1669017932274.9338,
          "date": "2023-02-14T12:24:12.844Z"
        },
        {
          "file": "over-mij/boeken.html",
          "mtimeMs": 1675782467443.7393,
          "date": "2023-02-14T12:24:13.480Z"
        },
        {
          "file": "over-mij/podcast.html",
          "mtimeMs": 1675782467443.7393,
          "date": "2023-02-14T12:24:13.817Z"
        },
        {
          "file": "php/contact.php",
          "mtimeMs": 1669017932275.4424,
          "date": "2023-02-14T12:24:14.544Z"
        },
        {
          "file": "php/subscribe.php",
          "mtimeMs": 1669017932275.4424,
          "date": "2023-02-14T12:24:14.904Z"
        },
        {
          "file": "img/aanbod/familie-opstellingen-live.webp",
          "mtimeMs": 1669017932218.9353,
          "date": "2023-02-14T12:23:52.465Z"
        },
        {
          "file": "img/aanbod/familie-opstellingen-online-groep.webp",
          "mtimeMs": 1675782467438.854,
          "date": "2023-02-14T12:23:52.880Z"
        },
        {
          "file": "img/aanbod/familie-opstellingen-online-individueel.webp",
          "mtimeMs": 1675782467440.0078,
          "date": "2023-02-14T12:23:53.246Z"
        },
        {
          "file": "aanbod/praten-met-lichaam-en-mind.html",
          "mtimeMs": 1675782467432.678,
          "date": "2023-02-14T12:23:40.027Z"
        },
        {
          "file": "en/calendar.html",
          "mtimeMs": 1675614899420.3125,
          "date": "2023-02-14T12:23:40.951Z"
        },
        {
          "file": "en/contact.html",
          "mtimeMs": 1675614899425.8286,
          "date": "2023-02-14T12:23:41.243Z"
        },
        {
          "file": "en/index.html",
          "mtimeMs": 1675614899442.119,
          "date": "2023-02-14T12:23:41.848Z"
        },
        {
          "file": "en/blog/blog_1.html",
          "mtimeMs": 1628856251665.865,
          "date": "2022-05-19T07:57:47.198Z"
        },
        {
          "file": "en/blog/blog_2.html",
          "mtimeMs": 1628856251666.8657,
          "date": "2022-05-19T07:57:47.456Z"
        },
        {
          "file": "en/blog/blog_3.html",
          "mtimeMs": 1628856251666.8657,
          "date": "2022-05-19T07:57:47.811Z"
        },
        {
          "file": "en/blog/blog_4.html",
          "mtimeMs": 1628856251666.8657,
          "date": "2022-05-19T07:57:48.142Z"
        },
        {
          "file": "en/blog/blog_5.html",
          "mtimeMs": 1628856251666.8657,
          "date": "2022-05-19T07:57:48.399Z"
        },
        {
          "file": "en/css/style.css",
          "mtimeMs": 1652947891903.2068,
          "date": "2022-05-19T08:11:46.224Z"
        },
        {
          "file": "img/blog/blog1.jpg",
          "mtimeMs": 1628856251694.891,
          "date": "2022-05-19T08:03:47.636Z"
        },
        {
          "file": "img/blog/blog2.jpg",
          "mtimeMs": 1628856251695.892,
          "date": "2022-05-19T08:03:48.012Z"
        },
        {
          "file": "img/blog/blog3.jpg",
          "mtimeMs": 1628856251695.892,
          "date": "2022-05-19T08:03:48.340Z"
        },
        {
          "file": "img/blog/blog4.jpg",
          "mtimeMs": 1628856251696.893,
          "date": "2022-05-19T08:03:48.708Z"
        },
        {
          "file": "img/blog/blog5.jpg",
          "mtimeMs": 1628856251697.8943,
          "date": "2022-05-19T08:03:49.044Z"
        },
        {
          "file": "img/blog/blog6.jpg",
          "mtimeMs": 1628856251697.8943,
          "date": "2022-05-19T08:03:49.434Z"
        },
        {
          "file": "img/podcast/podcast.jpg",
          "mtimeMs": 1628856251792.9805,
          "date": "2022-05-19T08:03:50.433Z"
        },
        {
          "file": "img/podcast/podcast1.png",
          "mtimeMs": 1628856251794.9824,
          "date": "2022-05-19T08:03:50.881Z"
        },
        {
          "file": "img/podcast/podcast2.jpg",
          "mtimeMs": 1628856251794.9824,
          "date": "2022-05-19T08:03:51.378Z"
        },
        {
          "file": "img/podcast/podcast2x.jpg",
          "mtimeMs": 1628856251795.9832,
          "date": "2022-05-19T08:03:51.748Z"
        },
        {
          "file": "img/podcast/podcast3.png",
          "mtimeMs": 1628856251799.2917,
          "date": "2022-05-19T08:03:52.644Z"
        },
        {
          "file": "img/podcast/podcast4.png",
          "mtimeMs": 1628856251815.3074,
          "date": "2022-05-19T08:03:55.436Z"
        },
        {
          "file": "img/podcast/podcast5.png",
          "mtimeMs": 1628856251818.3093,
          "date": "2022-05-19T08:03:56.068Z"
        },
        {
          "file": "img/podcast/podcast6.png",
          "mtimeMs": 1628856251824.3152,
          "date": "2022-05-19T08:03:56.910Z"
        },
        {
          "file": "img/podcast/podcast7.png",
          "mtimeMs": 1628856251825.316,
          "date": "2022-05-19T08:03:57.522Z"
        },
        {
          "file": "img/podcast/podcast8.png",
          "mtimeMs": 1628856251829.3193,
          "date": "2022-05-19T08:03:58.316Z"
        },
        {
          "file": "img/podcast/podcast9.png",
          "mtimeMs": 1628856251830.3206,
          "date": "2022-05-19T08:03:58.829Z"
        },
        {
          "file": "img/en.webp",
          "mtimeMs": 1669017932234.9414,
          "date": "2023-02-14T12:23:47.846Z"
        },
        {
          "file": "over-mij.html",
          "mtimeMs": 1675782467442.272,
          "date": "2023-02-14T12:23:36.886Z"
        },
        {
          "file": "aanbod/online-cursussen.html",
          "mtimeMs": 1675782467429.9685,
          "date": "2023-02-14T12:23:38.955Z"
        },
        {
          "file": "en/about-me.html",
          "mtimeMs": 1675614899386.0935,
          "date": "2023-02-14T12:23:40.660Z"
        },
        {
          "file": "en/gdrp.html",
          "mtimeMs": 1675614899437.6033,
          "date": "2023-02-14T12:23:41.543Z"
        },
        {
          "file": "en/offer.html",
          "mtimeMs": 1675614899451.745,
          "date": "2023-02-14T12:23:42.194Z"
        },
        {
          "file": "en/about-me/books.html",
          "mtimeMs": 1675614899393.1003,
          "date": "2023-02-14T12:23:42.504Z"
        },
        {
          "file": "en/about-me/podcast.html",
          "mtimeMs": 1675614899402.4482,
          "date": "2023-02-14T12:23:42.800Z"
        },
        {
          "file": "en/about-me/reviews.html",
          "mtimeMs": 1675614899409.4656,
          "date": "2023-02-14T12:23:43.139Z"
        },
        {
          "file": "en/offer/coaching.html",
          "mtimeMs": 1676377305975.542,
          "date": "2023-02-14T12:23:44.610Z"
        },
        {
          "file": "en/offer/dance-evenings.html",
          "mtimeMs": 1675614899458.7627,
          "date": "2023-02-14T12:23:44.895Z"
        },
        {
          "file": "en/offer/face-massage.html",
          "mtimeMs": 1675614899470.049,
          "date": "2023-02-14T12:23:45.253Z"
        },
        {
          "file": "en/offer/family-constellations.html",
          "mtimeMs": 1675614899475.1,
          "date": "2023-02-14T12:23:45.693Z"
        },
        {
          "file": "en/offer/osho-meditations.html",
          "mtimeMs": 1675614899488.3433,
          "date": "2023-02-14T12:23:46.084Z"
        },
        {
          "file": "en/offer/osho-mystic-rose.html",
          "mtimeMs": 1675614899491.523,
          "date": "2023-02-14T12:23:46.443Z"
        },
        {
          "file": "en/offer/self-hypnosis.html",
          "mtimeMs": 1675614899491.523,
          "date": "2023-02-14T12:23:46.800Z"
        },
        {
          "file": "en/php/contact.php",
          "mtimeMs": 1669017932210.935,
          "date": "2023-02-14T12:23:47.158Z"
        },
        {
          "file": "en/php/subscribe.php",
          "mtimeMs": 1669017932210.935,
          "date": "2023-02-14T12:23:47.517Z"
        },
        {
          "file": "img/nl.webp",
          "mtimeMs": 1669017932250.9397,
          "date": "2023-02-14T12:23:48.767Z"
        },
        {
          "file": "img/aanbod/cursussen.webp",
          "mtimeMs": 1675614899505.2478,
          "date": "2023-02-14T12:23:50.653Z"
        },
        {
          "file": "img/aanbod/dagen.webp",
          "mtimeMs": 1675614899510.3193,
          "date": "2023-02-14T12:23:51.327Z"
        },
        {
          "file": "img/aanbod/online-cursus.webp",
          "mtimeMs": 1675614899515.3262,
          "date": "2023-02-14T12:23:56.391Z"
        },
        {
          "file": "img/over-mij/book.webp",
          "mtimeMs": 1669017932258.937,
          "date": "2023-02-14T12:24:04.911Z"
        },
        {
          "file": "img/over-mij/depression-book.webp",
          "mtimeMs": 1669017932258.937,
          "date": "2023-02-14T12:24:05.858Z"
        },
        {
          "file": "img/reviews/carolien.webp",
          "mtimeMs": 1675614899523.3352,
          "date": "2023-02-14T12:24:10.543Z"
        },
        {
          "file": "img/reviews/roos.webp",
          "mtimeMs": 1675614899531.772,
          "date": "2023-02-14T12:24:12.085Z"
        },
        {
          "file": "js/script_en.js",
          "mtimeMs": 1669017932275.4424,
          "date": "2023-02-14T12:24:13.145Z"
        },
        {
          "file": "over-mij/reviews.html",
          "mtimeMs": 1675782467443.7393,
          "date": "2023-02-14T12:24:14.217Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
