//Typography

* {
  font-family: $font;
}

p {
  margin: 0 0 1em;

  font-family: $font;
  line-height: 140%;
}

.link {
  margin: 0 0 1em;

  font-family: $font;
  font-size: 1em;
  line-height: 140%;

  color: $secondary;
  text-decoration: none;
  font-weight: bold;
  // background-color: $tertiary;

  &:active {
    text-decoration: none;
    color: $black;
  }

  &:hover {
    text-decoration: none;
    color: $black;
  }
}

.fa-ul {
  li {
    font-size: 1.35em;
    line-height: 140%;
    list-style: none;
    padding-bottom: 1em;

    @include small {
      font-size: 1.25em;
    }

    @include medium {
      font-size: 1.35em;
    }

    @include large {
      font-size: 1.25em;
    }
  }
}

ol {
  li {
    font-size: 1em;
    line-height: 140%;
    padding-bottom: 0.5em;

    @include small {
      font-size: 1em;
    }

    @include medium {
      font-size: 1em;
    }

    @include large {
      font-size: 1em;
    }
  }
}

h3 {
  font-family: $font-text;
  color: $secondary;
  font-weight: bold;
  font-size: 1.25em;
  padding: 0.625em 0;
}

h4 {
  font-family: $font-text;
  font-weight: bold;
  font-size: 1.15em;
  padding: 0.55em 0;
  color: $darktext;
}

q {
  display: block;
  font-style: italic;
  font-size: 1.15em;

  margin: 2em 0;
  padding: 1em;

  border-top: solid $black 2px;
  border-bottom: solid $black 2px;

  @include small {
    margin: 2em -0.5em;

    font-size: 1.2em;
  }

  @include medium {
    font-size: 1.25em;
  }

  @include large {
    font-size: 1.5em;

    margin: 2em -1em;
  }

  @include xl {
    margin: 2em -1em;
  }
}

.pquote {
  display: block;
  font-style: italic;
  font-size: 1.15em;

  margin: 2em 0;
  padding: 1em;

  border-top: solid $black 2px;
  border-bottom: solid $black 2px;

  @include small {
    margin: 2em -0.5em;

    font-size: 1.2em;
  }

  @include medium {
    font-size: 1.25em;
  }

  @include large {
    font-size: 1.5em;

    margin: 2em -1em;
  }

  @include xl {
    margin: 2em -1em;
  }
}

em {
  display: block;
  font-size: 1.25em;
  margin: 0 0 0.25em;
}

.em-author {
  text-align: right;
}

strong {
  font-size: 1em;
  font-family: "Courgette";
  // font-style: italic;
  font-weight: normal !important;
  color: $quad;
}

.review {
  em {
    color: $secondary;
  }
}

// Fixes
.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bot {
  padding-bottom: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bot {
  margin-bottom: 0 !important;
}

.no-margin-bot-lg {
  @include not-xl {
    margin-bottom: 0 !important;
  }
}

hr {
  margin: 5em 0;
}

.final-box,
box {
  section {
    margin-top: 3em;

    @include medium {
      margin-top: 6.5em;
    }
  }
}

.form-group {
  label {
    font-family: $font;
    font-size: 1.15em;
    line-height: 140%;

    @include small {
      font-size: 1.2em;
    }

    @include medium {
      font-size: 1.25em;
    }

    @include large {
      font-size: 1.5em;
    }
  }

  input,
  textarea {
    font-family: $font;
    font-size: 1em;
    line-height: 140%;

    @include small {
      font-size: 1.05em;
    }

    @include medium {
      font-size: 1.1em;
    }

    @include large {
      font-size: 1.35em;
    }
  }
}
