// Variables

//Colors
$black: #333;
$dark-gray: #555;
$white: #fff;
$gray: #eee;

$primary: #fdfc96;
// $primary: #f2c063;

$secondary: darkgreen;
// $secondary: #1B5EB3;

$tertiary: #e4f78f;
// $tertiary: #FDEA83;

$quad: #65b539;
// $quad: #59A2FF;

$darktext: #65b539;
// $darktext: #96302d;

$extra: #65b539;
// $extra: #f2c063;

$heavyoverlay: rgba(0, 0, 0, 0.4);
// rgba(0, 0, 0, 0.25);

$image-overlay: linear-gradient(rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0) 25%);
$image-overlay2: linear-gradient(rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0) 65%);

//Fonts
$font: "Average", serif;
$font-text: "Lato", sans-serif;
$font-accent: "Courgette", cursive;

//Other
$box-shadow: 0 -5px 10px #222;
$fade-time: 0.25s;
$opacity-modita: 0.75;
